
// ---------------------------------------- //
// Less variables for 84000 theme
// ---------------------------------------- //

@btn-icon-size: 18px;
@btn-round-size: 44px;
@btn-round-size-sm: (@btn-round-size - 10);
@button-spacing-top: 15px;
@button-spacing-right: 25px;
@button-spacing-right-sm: 8px;

@text-gtr-width: 65px;
@text-gtr-width-sm: 50px;