// Theme mixins
// --------------------------------------------

.background-pattern(@img-size) {
    background-image: url('/imgs/background-pattern-transparent.svg');
    background-size: @img-size;
    background-repeat: repeat;
    background-color: @brand-blue-dark;
}

.nav-item-variant(@brand-color) {

    border-color: @brand-color;

    &.active > a, .active > a {
    	color: #fff;
        background-color: @brand-color;
    }

    .dropdown-menu {
        .subnav {
            .title {
                color: @brand-color;
            }
        }
    }

    // Mobile layout
    // ------------------------------
    @media (max-width: @grid-float-breakpoint-max) {
    	//.dropdown-menu li.active > a {
    	//	color: @brand-color;
    	//}
    }

    // Desktop layout
    // ------------------------------
    @media (min-width: @grid-float-breakpoint) {
    	> a:hover,
        .dropdown-menu li > a:hover,
        .dropdown-menu .subnav:hover,
        {
	    	color: #fff;
	        background-color: @brand-color;
	    }
    }
    
}

.body-variant(@brand-color) {
    background-color: @brand-color;
    .title-band {
        .btn-round {
            i {
                color: @brand-color;
            }
        }
    }
    .banner-band {
        blockquote {
            border-color: @brand-color;
            p {
                color: @brand-color;
            }
        }
    }
    .nav-sidebar {
        .active {
            background-color: @brand-color;
            border-color: @brand-color;
        }
    }
}

.fade-out(@height) {
    display: block;
    overflow: hidden;
    position: relative;
    
    &:before {
        content: '';
        z-index: 2;
        display: block;
        position: absolute; 
        bottom: 0em;
        width:100%;
        height: @height;
        background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        ); 
        background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
    }
}