
// ---------------------------------------- //
// Styles relevant to the Reading Room
// ---------------------------------------- //

// Title variations 
// ---------------------------------------------
h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
    color: @text-color;
}

h3 {
    margin-bottom: @line-height-computed;
}

// Translation specific styles
// ---------------------------------------------
.translation {

    color: @gray;

    // Title variations 
    // ---------------------------------------------

    h1, h2, h3, h4 {
        text-align: center;
    }

    h1, h2, h3, h4, h5 {
        margin-top: 0px; 
        margin-bottom: 0px; 
    }

    section, aside {

        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;

        > div {
            .clearfix();
        }

    }

    #titles, #long-titles, #body-title {
        h1, h2, h3, h4 {
            padding-top: 15px;
        }
        
    }

    #body-title {
        .heading-section {

            padding: 30px 0px;

            > *:first-child {
                margin-top: 0px;
            }
            
        }
    }

    .section-label {
        font-weight: bold;
        //margin-top: @line-height-computed;
        color: inherit;
    }

    // Layout
    // ------------------------------------------
    .panel-heading {
        .text-center();
    }

    .trailer {
        font-style: italic;
    }

    .ref, .footnote-link {
        font-style: normal !important;
    }

    // Link styles 
    // ---------------------------------------------
    a.footnote-link, a.glossary-link {
        .transition(.5s ease-in);
        color: inherit;
        text-decoration: none;
        border-bottom-style: dashed;
        border-bottom-width: 1px;
        border-bottom-color: transparent;
    }

    a.footnote-link {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -0.5em;
    }

    a.footnote-link, 
    a.glossary-link:hover, 
    &.scrolling a.glossary-link, 
    .fixed-footer a.glossary-link {
        .transition(none);
        color: @link-color;
        border-bottom-color: lighten(@link-color, 20%);
        &.mark {
            color: #000;
            border-bottom-color: #000;
        }
    }

    //.glossary-link.glossary-requested {
    //    .mark();
    //}

    // Title section
    // ---------------------------------------------
    #titles, #imprint {

        .text-center();

        .page {
            margin-top: 50px;
            .clearfix();
        }

    }
    #titles {

        margin-top: 0px;

        .section-panel {
            padding: 45px 45px 30px 45px;
        }

        #main-titles {
            width: auto;
            .clearfix();
        }

        #long-titles {
            margin: 0px 30px 120px 30px;
            h4 {
                float: left;
                clear: left;
                width: 100%;
            }
            .clearfix();
        }

        #main-titles + #long-titles {
            margin-top: 50px;
        }
    }

    #imprint {

        #toh {
            margin: 20px 0px;
        }

        img.logo {
            width: 140px;
            display: inline-block;
            margin-bottom: 30px;
        }

        #license {
            img {
                display: inline-block;
                width: auto;
                margin-bottom: (@line-height-computed / 2);
            }
        }

    }
    
    // Download buttons
    // ---------------------------------------------
    .download-options {

        margin-bottom: 70px;

        h5 {
            margin-bottom: @line-height-computed / 2;
        }

        a {

            display: inline-block;
            margin: 0px 10px;

        }
    }

    .title {
        font-style: italic;
    }

    .heading-section {

        h1, h2, h3, h4 {
            margin-bottom: @line-height-computed / 2;
        }

        &.chapter {
            h2, .h2 {
                color: @brand-red;
                text-transform: uppercase;
            }
            h4 {
                .text-muted();
            }
        }

        &.floating {

            .text-muted();

            h4 {

                &:before {
                    content: '[';
                }
                &:after {
                    content: ']';
                }
                
            }
        }
        
    }

    // Gutter system
    // --------------------------------
    .rw { // row

        display: block;
        padding-left: @text-gtr-width;
        padding-right: @text-gtr-width-right;
        overflow: auto;

        .rw {
            margin-left: -@text-gtr-width;
            margin-right: -@text-gtr-width-right;
        }

        .rw-heading {
            overflow: auto;
        }

        &.rw-section-head {
            margin-top: @line-height-computed * 2;
        }

        .gtr { // left-hand gutter

            display: block;
            float: left;
            clear: left;
            margin-left: -@text-gtr-width;
            overflow-wrap: break-word;

            .milestone {
                width: (@text-gtr-width - @panel-body-padding);
                display: block;
                overflow: auto;
                overflow-wrap: break-word;
                position: relative;
                z-index: 2;
            }

        }
    }

    &.rw-full-width .rw {
        padding-right: 0px;
        .rw {
            margin-right: 0px;
        }
    }

    // Add a space
    br+*,                           // after a br
    .rw-section-head+.rw,           // after a section head
    .section-label+.rw,             // after a section label
    .rw-list-section+.rw,           // after a section list
    .rw-list-bullet+.rw,            // after a bullet list
    .rw-line-group,                 // before a line group
    .rw-line-group+.rw,             // after a line group
    .rw-blockquote,                 // before a blockquote
    .rw-blockquote+.rw,             // after a blockquote
    .rw-mantra,                     // before a mantra
    .rw-mantra+.rw,                 // after a mantra
    .rw-table,                      // before a table
    .rw-table+.rw,                  // after a table
    .rw-trailer                     // before a trailer
    {
        margin-top: @line-height-computed;
    }

    // Sections containing text
    // ---------------------------------------------
    .text {

        br {
            display: none;
        }

        p {
            text-align: justify;
            width: 100%;
            margin-bottom: 0;
            text-indent: @line-height-computed;
            br {
                display: block;
            }
        }

        p.mantra, div.mantra {
            text-indent: 0;
            padding: 0px;
            padding-left: @line-height-computed;
        }

        // Cancel the indent after a space
        br+*,                           // after a br
        .rw-section-head+.rw,           // after a section head
        .section-label+.rw,             // after a section label
        .rw-list-section+.rw,           // after a section list
        .rw-list-bullet+.rw,            // after a bullet list
        .rw-line-group,                 // before a line group
        .rw-line-group+.rw,             // after a line group
        .rw-blockquote,                 // before a blockquote
        .rw-blockquote+.rw,             // after a blockquote
        .rw-mantra,                     // before a mantra
        .rw-mantra+.rw,                 // after a mantra
        .rw-table,                      // before a table
        .rw-table+.rw,                  // after a table
        .rw-trailer,                    // before a trailer
        .rw.rw-label+.rw,               // after a label
        .rw.rw-list-head+.rw,           // after a list header
        .rw:first-child,                // first-child pseudo-class
        .rw.first-child                 // first-child class
        {
            > p {
                text-indent: 0;
            }
        }

        // cancel the indent in other cases
        .footnote-number {              // footnote number
            text-indent: 0 !important;
        }

        // Hanging indent 
        .line-group {
            .line {
                padding-left: @line-height-computed;
                text-indent: -@line-height-computed;
            }
        }

        blockquote {
            padding: 0;
            margin-bottom: 0;
            p {
                padding-left: @line-height-computed;
            }
            > .rw {
                margin-top: 0px;
            }
            .line-group .line {
                padding-left: (@line-height-computed * 2);
            }
        }
    }

    // Cancel first item top margin
    .rw-section-head+.rw-list-section {
        .rw-list-item:first-child {
            margin-top: 0px;
        }
    }
    .rw-section-head+.nested-section {
        .rw-section-head:first-child {
            margin-top: @line-height-computed;
        }
    }

    // List types
    // --------------------------------------------------
    .list {

        // Cancel vertical spacing on list content, apply to list item instead
        // -------------------------------------------------------------------
        p, .section-label {
            margin-top: 0;
            margin-bottom: 0;
        }

        // Bullet lists have horizontal spacing
        // --------------------------------------------------
        &.list-bullet {
             > .rw-list-item {
                margin-top: 5px;
                > .list-item {
                    margin-top: 0px;
                    padding-left: 0px;
                    > .rw {
                        > p, > .section-label {
                            padding-left: @line-height-computed;
                        }
                    } 
                }
            }
            .nesting-loop (@i) when (@i > 0) {
                &.nesting-@{i} > .rw > .list-item > .rw {
                    > p, > .section-label {
                        padding-left: (@line-height-computed * (1 + @i));
                    }
                }
                .nesting-loop(@i - 1);
            }
            .nesting-loop (@nesting-levels);
        } 

        // Section lists have vertical spacing
        // --------------------------------------------------
        /**/
        &.list-section {
            > .rw-list-item {
                margin-top: @line-height-computed;
            }
        }
    }

    // Nested sections
    // --------------------------------------------
    .nested-section {

        //float: left;
        //width: 100%;

        .section-label {
            font-size: @font-size-h4;
        }
        .nested-section {
            .section-label {
                font-size: @font-size-h5;
            }
        }

        .heading-section {

            display: table;
            margin: 0px auto;

            > * {
                display: table-cell;
            }
            &:before {
                display: table-cell;
                padding-right: 10px;
                text-align: right;
            }
            &:after {
                display: table-cell;
                padding-left: 10px;
                text-align: left;
            }

            &.nested {
                font-size: .9em;
            }

            .nesting-loop (@i) when (@i >= 1) {
                &.nested-@{i} {
                    &:before, &:after  {
                        .content-dots(@i);
                    }
                }
                .nesting-loop (@i - 1);
            }
            .nesting-loop (@nesting-levels);
        }

        

    }

    // Data table 
    // ---------------------------------------------
    .table {
        margin-bottom: 0px;
    }
    .table-responsive {
        margin-bottom: (@line-height-computed / 2);
        border-bottom: 1px solid @table-border-color;
    }
    .table-label {
        margin-top: 0px;
    }
    .table-as-list {
        margin-bottom: (@line-height-computed / 2);
        .section-label {
            margin-top: 0px;
            margin-bottom: 0px;
            .row-label {
                font-style: normal;
            }
        }
        .row-label {
            font-style: italic;
        }
        p {
            text-indent: 0;
            margin-bottom: (@line-height-computed / 2);
        }
    }
    .table-notes {
        font-style: italic;
        margin-bottom: (@line-height-computed / 2);
    }

    // Glossary items
    // --------------------------------------------
    .glossary-item {

        margin-bottom: @line-height-computed;
        overflow: hidden;

        .term {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 4px;
        }
        
        p, ul {
            margin-bottom: 4px;
            &:last-child {
                margin-bottom: 0px;
            }
        }

        .text-sa, .text-wy {
            font-style: italic;   
        }

        .reconstructed {
            &:before {
                content: '*' !important;
            }
        }

        .alternative {
            display: none;
        }

        hr {
            margin-top: @line-height-computed / 2;
            margin-bottom: @line-height-computed / 2;
        }

        .locations {
            h5 {
                margin-top: 4px;
                margin-bottom: 4px;
                font-size: @font-size-small;
            }
            ul {
                > li {
                    overflow: visible;
                    font-size: 13px;
                    padding-right: 10px;
                    a {
                        white-space: nowrap;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .fixed-footer {
        .glossary-item {
            margin-bottom: 0px;
        }
    }

    // Abbreviations
    // --------------------------------------------
    #abbreviations {
        .nested-section {
            margin-bottom: (@line-height-computed / 2);
            .section-label {
                text-align: center;
            }
        }
        h5 {
            margin-top: @line-height-computed;
        }
        .table {
            width: auto;
            > tbody > tr {
                > th {
                    font-weight: normal;
                    font-style: italic;
                    padding-left: 0;
                }
                > th, > td {
                    border-top: 0px;
                    color: @gray;
                }
            }
        }
        h5, .table, p {
            margin-bottom: (@line-height-computed / 2);
        }
    }

    // Bibliography
    // --------------------------------------------
    #bibliography {
        p {
            padding-left: @line-height-computed;
            text-indent: -@line-height-computed;
        }
    }

    // Footnotes
    // --------------------------------------------
    .footnote {
        margin-bottom: (@line-height-computed / 2);
        > .line-group {
            margin-top: (@line-height-computed / 2);
        }
    }

    // Hide this on a translation - we have another
    // --------------------------------------------
    #link-to-top-container {
        display: none;
    }

}

// Source text pop-up
// ---------------------------------------------
#popup-footer {
    .data-container {
        padding-top: 20px;
        padding-bottom: 20px; 
    }
}

// Source text pop-up
// ---------------------------------------------
#popup-footer-source {
    border-top: 0px;
    .title {
        background-color: @brand-red;
        color: #fff;
        margin: 0px;
        padding: (@line-height-computed / 2) 0px;
        border-bottom: 1px solid @hr-border;
    }
    .text-bo.source {
        line-height: 2em;
    }
}

// Info icon
// ---------------------------------------------
a.info-icon {
    color: @text-muted;
    margin-left: 8px;
    vertical-align: sub;
    i {
        font-size: 20px;
    }
    &:hover {
        color: @brand-red;
    }
}

// Different styles for the editors
// ---------------------------------------------
.editor-mode, .annotation-mode {
    &.translation {
        a.footnote-link, a.glossary-link {
            color: inherit;
            border-bottom-color: @brand-red-alert !important;
        }
        .glossary-item .alternative {
            display: block;
            color: @brand-orange;
        }
    }
}

// Print variations
// All styles should default to .screen.desktop
// --------------------------------------------
@media print {

	p {
        // Don't show link text for source links
        // ---------------------------------------
        a.ref {
            text-decoration: none;
            &:after {
                content: "";
            }
        }
    }

    section.preview, a.reveal, a.preview {
        display: none;
    }

    .translation {

        margin: 0px 30px; 

        #title {
            margin-top: 0px;
        }

        // By default don't show these in print
        section.preview, section.partial, aside {
            display: none;
        }

        // Unless it's complete - then show everything
        &.complete {
            aside {
                display: block;
            }
        }

        // pdfs of body and back hide the front
        &.pdf-mode.part {
            &.part-body, &.part-back {
                #titles, #imprint, #toc {
                    display: none;
                }
            }
            &.part-body {
                #body-title {
                    display: block;
                    page-break-before: avoid;
                }
            }
            &.part-back {
                .part-type-appendix {
                    page-break-before: avoid;
                }
            }
        }

        .glossary-link {
            border-bottom: 0px;
        }

        .panel-body {
            padding-bottom: 0px;
        }

        .glossary-item {
            p {
                font-size: 12pt;
            }
        }
        a.ref[href], 
        a.milestone,
        a.footnote-number,
        .visible-print-block a,
        .contents-table a {
            &:after {
                content: "";
            }
        }
        a.footnote-number {
            text-decoration: none;
            border-bottom: 1px dashed lighten(@link-color, 20%);
        }
        .rw-section-head {
            page-break-after: avoid;
            page-break-inside: avoid;
        }
    }

}


// Medium viewport variations
// --------------------------------------------
@media only screen and (max-width: @screen-md) {

    .translation {

        #front-matter {

            margin-top: 15px;
            margin-bottom: 30px;
            margin-left: 0px;
            margin-right: 0px;
            padding: 15px;

            .page-first {
                margin-top: 0px;
            }

            .page > * {
                margin-top: 0px;
                margin-bottom: 30px;
            }

            #titles {
                margin-top: 0px;
            }
        }

        .rw { // row
            padding-right: @text-gtr-width-sm-right;
            .rw {
                margin-right: -@text-gtr-width-sm-right;
            }
            .rw-heading {
                padding-right: @text-gtr-width-sm - @text-gtr-width-sm-right;
            }
        }

        .download-options {
            margin-top: 0px;
            margin-bottom: 70px;
        }
        
    }
    
}

// Small viewport variations
// --------------------------------------------

@media only screen and (max-width: @screen-sm) {

    .translation {

        p {
            font-size: @font-size-base;
        }

        #title {
            p {
                text-align: center;
            }
        }

        .text {
            p {
                text-align: left;
            }
        }

        .rw { // row

            position: relative;
            padding-left: @text-gtr-width-sm;

            .rw {
                margin-left: -@text-gtr-width-sm;
                margin-right: 0px;
                left: 0px;
            }

            .gtr {
                margin-left: -@text-gtr-width-sm;
                .milestone {
                    width: (@text-gtr-width-sm - @panel-body-padding);
                }
                
            }

            .rw-heading {

                padding-left: 0px;
                padding-right: 0px;
                margin-left: 0px;
                margin-right: 0px;

                h1, h2, h3, h4 {
                    text-align: left;
                }
            }
        }

        #abbreviations {
            dl {
                &:after {
                    display: none;
                }
                dt, dd {
                    float: none;
                }
                dt {
                    clear: none;
                }
                dd {
                    clear: none;
                    &:before {
                        display: none;
                    }
                }
            }
            .nested-section {
                .section-label {
                    text-align: left;
                }
            }
        }

    }
}
