
// ---------------------------------------- //
// Styles relevant to the Reading Room
// ---------------------------------------- //

// General styles
// ---------------------------------


// Title variations 
// ---------------------------------------------
h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
    color: @text-color;
}

h3, .milestone-h3 {
    margin-bottom: @line-height-computed;
}

// Source text pop-up
// ---------------------------------------------
#popup-footer-source {
    .title {
        margin: (@line-height-computed / 2) 0px;
    }
    p.text-bo {
        line-height: 2;
    }
    hr {
        margin-top: @line-height-computed / 2;
        margin-bottom: @line-height-computed / 2;
    }
    .footer {
        .text-muted();
        text-align: center;
        font-size: @font-size-small;
        a.info {
            color: @text-muted;
            margin-left: 8px;
            vertical-align: sub;
            i {
                font-size: 20px;
            }
            &:hover {
                color: @brand-red;
            }
        }
    }
    .popover-title {
        margin: 0px;
    }
    
}

// Translation specific styles
// ---------------------------------------------
.translation {

    color: @gray;

    // Title variations 
    // ---------------------------------------------

    h1, h2, h3 {
        text-align: center;
    }

    h1 {
        font-family: @font-family-heading;
        font-weight: 700;
    }
    
    h2, h3, h4, h5, h6 {
        font-family: @font-family-serif;
    }

    h3 {
        text-transform: uppercase;
        color: @brand-red;
    }

    h2, h3, h4, {
        margin-top: @line-height-computed;
    }

    .milestone-h2, .milestone-h3, .milestone-h4 {
        margin-top: @line-height-computed + 5px;
    }

    .trailer {
        font-style: italic;
        .ref, .footnote-link {
            font-style: normal;
        }
    }

    .section-label {
        font-weight: bold;
        margin-top: @line-height-computed;
        color: inherit;
    }

    // Milestones for titles
    // ---------------------------------------------
    .milestone-h2, .milestone-h3, .milestone-h4 {
        display: block;
    }

    // Layout
    // ------------------------------------------
    .panel-heading {
        .text-center();
    }

    section, aside {

        margin-top: 70px;
        margin-bottom: 70px;
        position: relative;

        > div {
            .clearfix();
        }

    }

    // Link styles 
    // ---------------------------------------------
    a.footnote-link {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -0.5em;
    }

    a.footnote-link, a.glossary-link, &.mute-glossary a.glossary-link:hover, &.mute-glossary .fixed-footer a.glossary-link {
        .transition(none);
        text-decoration: none;
        border-bottom: 1px dashed lighten(@link-color, 20%);
        &.mark {
            color: #000;
            border-bottom-color: #000;
        }
    }

    // Glossary links
    // ---------------------------------------------
    &.mute-glossary {
        a.glossary-link {
            .transition(1s ease-in);
            color: inherit;
            border-bottom-color: transparent;
        }
    }

    // Gutter system
    // --------------------------------
    .rw { // row
        display: block;
        padding-left: @text-gtr-width;
        padding-right: @text-gtr-width-right;
        overflow: auto;
        .rw {
            margin-left: -@text-gtr-width;
            margin-right: -@text-gtr-width-right;
        }
        .rw-heading {
            overflow: auto;
        }
        .gtr {
            display: block;
            float: left;
            margin-left: -@text-gtr-width;
            overflow-wrap: break-word;
            .milestone {
                width: (@text-gtr-width - @panel-body-padding);
                display: block;
                overflow: auto;
                overflow-wrap: break-word;
                position: relative;
                z-index: 2;
            }
        }
    }

    // Title section
    // ---------------------------------------------
    #front-matter {

        .text-center();

        .page {
            margin-top: 70px;
            .clearfix();
        } 

        h1 {
            color: @brand-red;
        }

        h2 {
            color: #565656;
        }

        h1, h2, h3{
            margin: 10px 0px;
        }

        h4 {
            margin: 0px;
        }

        #toh {
            margin: 20px 0px;
        }

        #titles {
            width: auto;
            padding: 30px;
            margin: 0px;
            margin-top: 50px;
            text-shadow: 1px 2px 3px #dfe0e0;
            .clearfix();
        }

        #long-titles {
            margin: 0px 30px 120px 30px;
            .clearfix();
        }

        #titles + #long-titles {
            margin-top: 50px;
        }

        #titles, #long-titles {
            h1, h2, h3, h4 {
                border-bottom: 1px solid @hr-border;
                padding-bottom: 15px;
                margin-bottom: 15px;
                &:last-child {
                    border-bottom: 0px;
                    margin-bottom: 0px;
                }
            }
        }

        img.logo {
            width: 140px;
            display: inline-block;
            margin-bottom: 30px;
        }

        #license {
            img {
                display: inline-block;
                width: auto;
                margin-bottom: (@line-height-computed / 2);
            }
        }

    }
    
    // Download buttons
    // ---------------------------------------------
    .download-options {

        margin-bottom: 70px;

        a {

            display: inline-block;
            margin: 0px 10px;

        }
    }

    .title {
        font-style: italic;
    }

    // Sections containing text
    // ---------------------------------------------
    .text {

        h4 {
            color: @text-muted;
            text-align: center;
        }

        h4+h2 {
            margin-top: 0px;
        }

        h2 {
            margin-bottom: @line-height-computed;
        }

        br {
            display: none;
        }

        p {
            text-align: justify;
            width: 100%;
            margin-bottom: 0;
            text-indent: @line-height-computed;
            br {
                display: block;
            }
        }

        p.mantra, div.mantra {
            text-indent: 0;
            padding: 0px;
            padding-left: @line-height-computed;
        }

        // Add a space
        br+*,                           // after a br
        .rw-chapter-title+.rw,          // after a chapter title
        .rw-section-head+.rw,           // after a section head
        .rw-chapter-head+.rw,           // after a chapter head
        .rw-list-section+.rw,           // after a section list
        .rw-list-bullet+.rw,            // after a bullet list
        .rw-line-group,                 // before a line group
        .rw-line-group+.rw,             // after a line group
        .rw-blockquote,                 // before a blockquote
        .rw-blockquote+.rw,             // after a blockquote
        .rw-mantra,                     // before a mantra
        .rw-mantra+.rw,                 // after a mantra
        .rw-table,                      // before a table
        .rw-table+.rw,                  // after a table
        .rw-trailer                     // before a trailer
        {
            margin-top: @line-height-computed;
            // cancel the indent after a space
            > p {
                text-indent: 0;
            }
        }

        // Add a double space
        .rw-chapter-head, .rw-section-head // before a section head
        {
            margin-top: @line-height-computed * 2;
            // cancel the indent after a space
            > p {
                text-indent: 0;
            }
        }

        // cancel the indent in other cases
        .rw:first-child > p,        // first paragraph (pseudo-class)
        .rw.first-child > p,        // first paragraph (class)
        .rw.rw-label+.rw > p,       // after a label
        .rw.rw-list-head +.rw > p,  // after a list head
        .footnote-number {                      // footnote number
            text-indent: 0;
        }

        // Hanging indent 
        .line-group {
            .line {
                padding-left: @line-height-computed;
                text-indent: -@line-height-computed;
            }
        }

        .heading-chapter {
            h4 {
                color: @text-color;
                text-transform: uppercase;
            }
        }

        .heading-section {
            display: table;
            margin: 0px auto;
            h4 {
                color: @text-color;
                margin-bottom: 0px;
                display: table-cell;
                font-size: @font-size-h4;
                text-align: center;
            }
            &:before {
                padding-right: 10px;
                display: table-cell;
                text-align: right;
            }
            &:after {
                padding-left: 10px;
                display: table-cell;
                text-align: left;
            }
            &.nesting-1 {
                &:before, &:after  {
                    content: '·';
                }
                h4 {
                    font-size: (@font-size-h4 * 0.95);
                }
            } 
            &.nesting-2 {
                &:before, &:after  {
                    content: '··';
                }
                h4 {
                    font-size: (@font-size-h4 * 0.9);
                }
            } 
            &.nesting-3 {
                &:before, &:after  {
                    content: '···';
                }
                h4 {
                    font-size: (@font-size-h4 * 0.85);
                }
            } 
            &.nesting-4 {
                &:before, &:after  {
                    content: '····';
                }
                h4 {
                    font-size: (@font-size-h4 * 0.8);
                }
            } 
            &.nesting-5 {
                &:before, &:after  {
                    content: '·····';
                }
                h4 {
                    font-size: (@font-size-h4 * 0.7);
                }
            } 
        } 
        
        blockquote {
            padding: 0;
            margin-bottom: 0;
            p {
                padding-left: @line-height-computed;
            }
            > .rw {
                margin-top: 0px;
            }
            .line-group .line {
                padding-left: (@line-height-computed * 2);
            }
        }
    }

    // List types
    // --------------------------------------------------
    .list {

        // Cancel vertical spacing on list content, apply to list item instead
        // -------------------------------------------------------------------
        p, .section-label {
            margin-top: 0;
            margin-bottom: 0;
        }

        // Bullet lists have horizontal spacing
        // --------------------------------------------------
        &.list-bullet {
             > .rw-list-item {
                margin-top: 5px;
                > .list-item {
                    margin-top: 0px;
                    padding-left: 0px;
                    > .rw {
                        > p, > .section-label {
                            padding-left: @line-height-computed;
                        }
                    } 
                }
            }
            &.nesting-1 > .rw > .list-item > .rw {
                > p, > .section-label {
                    padding-left: (@line-height-computed * 2);
                }
            }
            &.nesting-2 > .rw > .list-item > .rw {
                > p, > .section-label {
                    padding-left: (@line-height-computed * 3);
                }
            }
            &.nesting-3 > .rw > .list-item > .rw {
                > p, > .section-label {
                    padding-left: (@line-height-computed * 4);
                }
            }
            &.nesting-4 > .rw > .list-item > .rw {
                > p, > .section-label {
                    padding-left: (@line-height-computed * 5);
                }
            }
            &.nesting-5 > .rw > .list-item > .rw {
                > p, > .section-label {
                    padding-left: (@line-height-computed * 6);
                }
            }
        } 

        // Section lists have vertical spacing
        // --------------------------------------------------
        /**/
        &.list-section {
            > .rw-list-item {
                margin-top: @line-height-computed;
                > .list-item {
                    margin-top: 0px;
                }
            }
            /*
            > .rw.first-child , > .rw.rw-heading + .rw {
                margin-top: 0;
            }*/
        }
    }

    // Nested sections
    // --------------------------------------------
    .nested-section {
        float: left;
        width: 100%;
        .section-label {
            font-size: @font-size-h4;
        }
        .nested-section {
            .section-label {
                font-size: @font-size-h5;
            }
        }
    }
    /*
    .nested-section+.nested-section {
        margin-top: @line-height-computed;
    }
    */

    // Data table 
    // ---------------------------------------------
    .table {
        margin-bottom: 0px;
    }
    .table-responsive {
        margin-bottom: (@line-height-computed / 2);
        border-bottom: 1px solid @table-border-color;
    }
    .table-label {
        margin-top: 0px;
    }
    .table-as-list {
        margin-bottom: (@line-height-computed / 2);
        .section-label {
            margin-top: 0px;
            margin-bottom: 0px;
            .row-label {
                font-style: normal;
            }
        }
        .row-label {
            font-style: italic;
        }
        p {
            text-indent: 0;
            margin-bottom: (@line-height-computed / 2);
        }
    }
    .table-notes {
        font-style: italic;
        margin-bottom: (@line-height-computed / 2);
    }

    // Glossary items
    // --------------------------------------------
    .glossary-item {

        margin-bottom: @line-height-computed;
        overflow: hidden;

        .term {
            //line-height: 20px;
            margin-top: 0px;
            margin-bottom: 4px;
            //padding-bottom: 8px;
            //border-bottom: 1px solid @hr-border;
        }
        
        p {
            margin-bottom: 4px;
        }

        .text-sa, .text-wy {
            font-style: italic;   
        }

        .alternative {
            display: none;
        }

        hr {
            margin-top: @line-height-computed / 2;
            margin-bottom: @line-height-computed / 2;
        }

        .occurences {
            h6 {
                margin-top: 4px;
            }
            ul {
                > li {
                    width: 30px;
                    overflow: visible;
                    font-size: 13px;
                    a {
                        white-space: nowrap;
                    }
                }
            }
            
        }
    }

    // Abbreviations
    // --------------------------------------------
    #abbreviations {
        .nested-section {
            margin-bottom: (@line-height-computed / 2);
            .section-label {
                text-align: center;
            }
        }
        h5 {
            margin-top: @line-height-computed;
        }
        .table {
            width: auto;
            > tbody > tr {
                > th {
                    font-weight: normal;
                    font-style: italic;
                    padding-left: 0;
                }
                > th, > td {
                    border-top: 0px;
                    color: @gray;
                }
            }
        }
        h5, .table, p {
            margin-bottom: (@line-height-computed / 2);
        }
    }

    // Bibliography
    // --------------------------------------------
    #bibliography {
        p {
            padding-left: @line-height-computed;
            text-indent: -@line-height-computed;
        }
    }

    // Footnotes
    // --------------------------------------------
    .footnote {
        margin-bottom: (@line-height-computed / 2);
        > .line-group {
            margin-top: (@line-height-computed / 2);
        }
    }

    // Hide this on a translation - we have another
    // --------------------------------------------
    #link-to-top-container {
        display: none;
    }

}

// Different styles for the editors
// ---------------------------------------------
.editor-mode {
    &.translation {
        a.footnote-link, a.glossary-link {
            color: inherit;
            border-bottom-color: @brand-red-alert !important;
        }
        .glossary-item .alternative {
            display: block;
            color: @brand-orange;
        }
    }
}

// Print variations
// All styles should default to .screen.desktop
// --------------------------------------------
@media print {

	p {
        // Don't show link text for source links
        // ---------------------------------------
        a.ref {
            text-decoration: none;
            &:after {
                content: "";
            }
        }
    } 

    .translation {

        #title {
            margin-top: 0px;
        }

        section, aside {
            .glossary-link {
                border-bottom: 0px;
            }
        }

        .panel-body {
            padding-bottom: 0px;
        }

        .glossary-item {
            p {
                font-size: 12pt;
            }
        }
        a.ref[href]:after, .visible-print-block a:after {
            content: "";
        }
        a.footnote-number {
            text-decoration: none;
            border-bottom: 1px dashed lighten(@link-color, 20%);
        }
    }

    .unrendered-preview, a.render, a.preview {
        display: none;
    }

}


// Medium viewport variations
// --------------------------------------------
@media only screen and (max-width: @screen-md) {

    .translation {

        #front-matter {

            margin-top: 15px;
            margin-bottom: 30px;
            margin-left: 0px;
            margin-right: 0px;
            padding: 15px;

            .page-first {
                margin-top: 0px;
            }

            .page > * {
                margin-top: 0px;
                margin-bottom: 30px;
            }

            #titles {
                margin-top: 0px;
            }
        }

        h2, h3, h4 {
            margin-top: (@line-height-computed / 2);
        }

        .milestone-h2, .milestone-h3, .milestone-h4 {
            margin-top: (@line-height-computed / 2) + 5px;
        }

        .rw { // row
            padding-right: @text-gtr-width-sm-right;
            .rw {
                margin-right: -@text-gtr-width-sm-right;
            }
            .rw-heading {
                padding-right: @text-gtr-width;
            }
        }

        .download-options {
            margin-top: 0px;
            margin-bottom: 70px;
        }
        
    }
    
}

// Small viewport variations
// --------------------------------------------
@media only screen and (max-width: @screen-sm) {

    .translation {

        p {
            font-size: @font-size-base;
        }

        #title {
            p {
                text-align: center;
            }
        }

        .text {
            p {
                text-align: left;
            }
        }

        .rw { // row
            padding-left: @text-gtr-width-sm;
            padding-right: 0px;
            .rw {
                margin-left: -@text-gtr-width-sm;
                margin-right: 0px;
            }
            .gtr{
                margin-left: -@text-gtr-width-sm;
                .milestone {
                    width: (@text-gtr-width-sm - @panel-body-padding);
                }
            }
            .rw-heading {
                padding-left: 0px;
                padding-right: 0px;
                margin-left: 0px;
                margin-right: 0px;
                > * {
                    text-align: left;
                }
            }
        }

        #abbreviations {
            dl {
                &:after {
                    display: none;
                }
                dt, dd {
                    float: none;
                }
                dt {
                    clear: none;
                }
                dd {
                    clear: none;
                    &:before {
                        display: none;
                    }
                }
            }
            .nested-section {
                .section-label {
                    text-align: left;
                }
            }
        }

    }
}

// Utilities page
// ----------------------------------------
.utilities {

    .control-label {
        text-align: left;
    }

    fieldset {
        border-color: @legend-border-color;
    }

    legend {
        color: @legend-color;
        padding: 8px;
    }

    .preview-list {
        a.preview {
            top: -24px;
        }
    }

    .text-overlay {
        position: relative;
        .text.divided {
            position: relative;
            span.section {
                background-color: #fff;
                color: #aaa;
                padding: 3px 0px;
                &.selected {
                    background-color: #fff;
                    color: @text-color;
                }
            }
        }
        .text.plain {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            z-index: 1;
            background-color: transparent;
            color: transparent;
        }
        .text-bo {
            font-size: 14px;
        }
    }

    #translation-memory {
        form {
            margin-bottom: @line-height-computed / 2;
            .clearfix();
        }
        .form-group {
            &.text {
                padding-left: 7px;
            }
        }
        .fa-cloud-download {
            font-size: 30px;
        }
        
        textarea.form-control {
            font-size: 1.4em;
        }
        .mark {
            text-decoration: none;
            background-color: rgba(red(@brand-orange), green(@brand-orange), blue(@brand-orange), 0.5);
            .box-shadow(none);
            &.bold {
                background-color: rgba(red(@brand-green), green(@brand-green), blue(@brand-green), 0.5);
            }
        }
        .unit {
            padding-top: @line-height-computed / 2;
            border-top: 1px solid @hr-border;
            display: block;
            &.replaced {
                display: none;
            }

        }
    }

    .table {
        
        tr.header {
            > td {
                color: @brand-red;
                font-weight: bold;
                padding-top: floor(@table-cell-padding * 3);
                border-bottom: 2px solid @table-border-color;
            }
        }
        tr.sub {
            > td {
                padding-top: 0px;
                border: 0px;
            }
        }
        tr.border-top {
            > td {
                padding-top: 5px;
                border-top: 1px solid @table-border-color;
            }
        }
        &.table-icons {
            td {
                .fa {
                    font-size: 28px;
                }
            }
        }

        &.progress {
            border-spacing: 2px;
            border-collapse: separate;
            tr {
                > td {
                    border-top-width: 0px;
                    text-align: left;
                    padding: 4px;
                    &:first-child {
                        border-left-style: solid;
                        border-left-width: 10px;
                        border-left-color: @label-default-bg;
                        padding-left: 18px;
                    }
                }
                &.total {
                    > td:first-child  {
                        border-left-color: @gray;
                    }
                }
                &.published {
                    > td:first-child  {
                        border-left-color: @brand-green;
                    }
                }
                &.translated {
                    > td:first-child  {
                        border-left-color: @brand-blue;
                    }
                }
                &.in-translation {
                    > td:first-child  {
                        border-left-color: @brand-orange;
                    }
                }
                &.sponsored {
                    > td:first-child  {
                        border-left-color: @brand-red;
                    }
                }
            }
            
        }
    }

    .col-items, .col-nav {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: floor((@grid-gutter-width / 2));
        padding-right: floor((@grid-gutter-width / 2))
    }

    .col-items {
        width: 95%;
        > * {
            margin-left: 40px;
            position: relative;
        }
        a.marker {
            position: absolute;
            left: -40px;
            top: 8px;
            color: #fff;
            background-color: #aaa;
            text-decoration:none;
            padding: 1px 8px;
            border-radius:4px;
            font-family: @font-family-heading
        }
    }
    .col-nav {
        width: 5%;
    }

    .div-list {

        position: relative;

        .item {
            border-top: 1px solid @hr-border;
            padding: (@line-height-computed / 2) 0px;
            position: relative;
            &:first-child {
                border-top: 0px;
                .filter-form {
                    margin-top: -(@line-height-computed / 2);
                }
            }
            &.item-first {
                margin-top: 15px;
                padding-top: (@line-height-computed / 2);
                border-top: 1px solid @hr-border;
            }
            .name {
                display: block;
            }
            .name + .row {
                margin-top: (@line-height-computed / 2);
            }
            ul {
                margin-bottom: 0px;
            }
        }
    }
    
    .pull-quote {
        border-left: 5px solid @gray-light;
        padding-left: floor((@grid-gutter-width / 2));
        margin-bottom: (@line-height-computed / 2);
        &.green-quote {
            border-color: @brand-green;
        }
        &.red-quote {
            border-color: @brand-red;
        }
        &.orange-quote {
            border-color: @brand-orange;
        }
        .title {
            line-height: 1.2em;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        p {
            font-size: @font-size-small;
        }
    }

    #cumulative-glossary {

        .download-link {
            padding: @nav-link-padding;
            .pull-right();
        }
        
        .glossary-item {
            margin-top: 10px;
            ul {
                list-style-type: circle;
                margin-top: 2px;
                margin-bottom: 0px;
            }
        }

    }
}

// Tests page
// --------------------------------------
.tests {

    .table {
        margin-top: 10px;
    }

    .table th.icon,  .table td.icon {
        text-align: center;
    }
    .table td.icon {
        .fa {
            margin: -3px;
            font-size: 24px;
        }
    }

    .fa-check-circle {
        color: lighten(@brand-green, 20%);
    }

    .fa-times-circle {
        color: lighten(@brand-red, 10%);
    }

    .fixed-footer {
        h3:first-child {
            margin-top: 0px;
        }
    }

    .debug {
        color: @gray;
        background-color: #eee;
    }

}