
// General variations from bootstrap
// ----------------------------------------

p {
    a {
        text-decoration: underline;
    }
}

.label {
    font-weight: normal;
    &.label-lg {
        font-size: 1em;
        padding: .2em .5em;
    }
}

.btn {
    font-family: @font-family-heading;
    //text-transform: uppercase;
    white-space: normal;
    .transition(.5s ease-in);
}

.close {
    opacity: 1;
    &:focus, &:hover {
        opacity: 1;
    }
}


blockquote {
    padding-right: 0px;
}

.modal-title {
    font-weight: bold;
}

// General helpers
// ----------------------------------------

.foreground {
    position: relative;
    z-index: 2;
}

.relative {
    position: relative;
}

.italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

a.disabled {
    .text-muted();
    pointer-events: none;
    cursor: none;
}

.list-indent  {
    margin-left: 15px;
}

.ease-all {
    .transition(.5s ease-in);
}

a.warning {
    color: @brand-red;
}

hr.no-margin {
    margin-top:    0px;
    margin-bottom: 0px;
}

table {
    td, th {
        &.nowrap {
            white-space: nowrap;
        }
    }
}

p.date {
    font-family: @font-family-sans-serif;
    text-transform: uppercase;
    font-size: @font-size-small;
    color: @gray-light;
}

.position-static {
    position: static;
}

.match-height-overflow {
    overflow: auto;
}

p.form-control {
    height: auto;
}

// Centered tabs
// ----------------------------
.tabs-container-center {

    .text-center();

    .nav-tabs {

        display: inline-block;
        width: 100%;

        > li {
            display: inline-block;
            float: none;
        }

    }

}

// Dot seperators on inline list
// ------------------------------
.list-inline.inline-dots {
    margin-bottom: 0px;
    > li {
        &:before {
            content: '·';
            padding-right: 10px;
        }
        &:first-child:before {
            content: '';
            padding-right: 0px;
        }
    }
}

// Image caption
// -------------------------------------------
figcaption, .lb-caption, .lb-number {
    font-family: @font-family-sans-serif;
    font-size: @font-size-small;
}

figcaption {
    color: @text-muted;
    text-align: center;
}

.lb-caption, .lb-number {
    color: #fff;
    text-align: left;
}

// Page background
// ----------------------------------------
html {
    background-color: @gray-background-color;
    height: 100%;
}

body {
    background-image: url(../imgs/background-pattern.svg);
    background-size: 40px 40px;
    position: relative;
}

// Footer
// -------------------------------------------
body > footer {
    color: @text-muted;
    text-align: center;
    padding: 25px 0px 100px 0px;
    background-color: @gray-background-color;
    border-top: 5px solid @gray-border-color;
    font-family: @font-family-sans-serif;
    font-size: @font-size-small;

}

// Vertical align helper
// ----------------------------------------
.adjacent-panels {

    display: table;

    > span, > a {

        display: table-cell;
        vertical-align: top;

    }
}
.center-vertical {

    .adjacent-panels();

    > span, > a {

        vertical-align: middle;

    }
}

// Merge columns
// ----------------------------------------
@media (min-width: @screen-md-min) {

    .col-md-merge-right {
        padding-right: 0px;
    }

    .col-md-merge-left {
        padding-left: 0px;
    }

    .md-adjacent-panels {
        .adjacent-panels();
    }

    .md-center-vertical {
        .center-vertical();
    }

    .col-md-pad-top {
        padding-top: 20px;
    }

}

// Homepage shift panel thing
// -------------------------------------------
.md-quarter-width, .md-three-quarter-width {
    width: 100%;
}

@media (min-width: @screen-md-min) {
    .md-quarter-width {
        width: 25%;
    }
    .md-three-quarter-width {
        width: 75%;
    }
}

// Full body panel
// -------------------------------------------
body .container > .panel {

    width: 100%;
    overflow: hidden;

    > .panel-body {
        padding: 20px 30px 60px 30px;
    }

    @media only screen and (max-width: @grid-float-breakpoint) {
        > .panel-body {
            padding: 15px 15px 60px 15px;
        }
    }
}

// Disable page while processing
// -------------------------------------------
body.wait:after{
    content:'';
    z-index: 1000;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,.3);
}
body.wait > #wait{
    position:fixed;
    display:inline-block;
    text-align:center;
    z-index: 1001;
    color: #fff;
    padding:10px 25px;
    border-radius:8px;
    max-width:90%;
    background-color: @brand-red;
}

// Panel variations
// -------------------------------------------

.panel {

    border-width: 0px;
    .box-shadow(0 6px 12px rgba(0,0,0,.175));

}

.panel-title {

    font-family: @font-family-bold;
    color: #444;
    text-transform: uppercase;

}

.panel-footer {

    // Pagination
    // -------------------------------------------

    .pagination {
        margin: 0px;
    }

}

.panel-img-header {

    width: 100%;
    position: relative;

    img {

        width: 100%;
        .img-responsive();

    }
    h1 {

        position: absolute;
        margin: 0px;
        top: 20px;
        left: 20px;
        color: #fff;
        padding: 20px;
        font-family: @font-family-bold;
        text-transform: uppercase;
        font-weight: normal;

    }
    blockquote {

        position: absolute;
        margin: 0px;
        bottom: 20px;
        left: 20px;
        
        &, footer {

            color: #fff;
            text-shadow: 0 1px 2px rgba(0,0,0,.6);

        }
    }

    .bg-red {
        background-color: rgba(red(@brand-red), green(@brand-red), blue(@brand-red), 0.65);
    }
    .bg-blue {
        background-color: rgba(red(@brand-blue), green(@brand-blue), blue(@brand-blue), 0.65);
    }
    .bg-orange {
        background-color: rgba(red(@brand-orange), green(@brand-orange), blue(@brand-orange), 0.65);
    }
}

// Brand header & Nav
// ----------------------------------------
.tag-line {
    font-family: @font-family-tag-line;
    color: @brand-blue;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

// Icons
// ----------------------------------------
i.fa-envelope-square {
    color: @brand-green;
}

i.fa-facebook-square {
    color: @brand-blue;
}

i.fa-twitter-square {
    color: @brand-orange;
}

i.fa-youtube-square {
    color: @brand-red;
}

i.fa-google-plus-square {
    color: @brand-red;
}

// Text
// -------------------------------------------------
.text-bo {
    font-family:"Tibetan" !important;
}

.text-sa, .text-wy {
    font-family: @font-family-serif !important;
}

// Badges
// -------------------------------------------------
.badge {
    font-family: @font-family-sans-serif;
}
    
// Navbar
// --------------------------------------------------
.navbar {

    border-width: 0 0 5px;
    margin-bottom: 25px;
    
    .container {
        position: relative;
    }

    .navbar-collapse.in {
        overflow: visible;
    }

    // Brand header - the top panel with the logo
    // --------------------------------------------------
    .brand-header {

        background-color: #fff;

        .navbar-brand {
            height: auto;
            width: 100%;
            font-size: 18px;
        }

        .navbar-header {

            width: 100%;
            margin: 0px;
            position: relative;
            
        }

        .logo {

            width: 200px;
            img {
                .img-responsive();
            }
            
        }

        .heading, .tag-line {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 15px;
        }

        .breadcrumb {
            margin-bottom: 0px;
        }

        .nav-button {
            width: 36px;
            z-index: 1;
            position: relative;
            .affix {
                top: 20px;
            }
        }
        
    }

    // Main navigation bar
    // --------------------------------------------------
    .navbar-nav {

        > li {

            border-style: solid;
            border-width: 0px;
            border-bottom-width: 5px;

            > a {

                font-family: @font-family-bold;
                font-size: 19px;
                color: #444;
                text-transform: uppercase;
                padding-top: 12px;
                padding-bottom: 7px; 

                .transition(background-color .5s ease-in);

                &:hover {
                    color: #fff;
                }

            }

            &.active {
                > a {
                    color: #fff;
                }
            }

            &.home{
                .nav-item-variant(@brand-red);
            } 

            &.news {
                .nav-item-variant(@brand-orange);
            }

            &.reading-room {
                .nav-item-variant(@brand-blue);
            }

            &.about {
                .nav-item-variant(@brand-red);
            }

            &.resources {
                .nav-item-variant(@brand-orange);
            } 

            &.how-to-help {
                .nav-item-variant(@brand-blue);
            }

            @media only screen and (max-width: @grid-float-breakpoint) {

                border-bottom-width: 0px;
                border-left-width: 10px;

                > a {
                    padding-top: 10px;
                    padding-bottom: 10px; 
                }
            
            }

        }
        
    }

    // Social media buttons
    // --------------------------------------------------
    #social {
        
        span, a {

            padding-right: 10px;

            &:last-child {

                padding-right: 0px;

            }
        }
        i {

            font-size: 30px;
            color: @text-color;
            
        }
    }

    // Mobile nav variations
    // --------------------------------------------------
    @media only screen and (max-width: @grid-float-breakpoint) {

        .brand-header {
        
            .tag-line {
                padding: 0px 10px;
                font-size: 13px;
                line-height: 1.3;
            }
            
        }

        .navbar-nav {

            margin-top: 0px;
            margin-bottom: 0px;

        }

        .navbar-brand {

            padding: 10px 0px;

            .logo {

                width: 120px;
                
            }

        }

        .navbar-form {

            margin-top: 0px;
            margin-bottom: 0px;
            border: 0px;
            padding: 0px; 

            > * {

                border-left-style: solid;
                border-left-width: 10px;

            }

            > #language-links {
                border-left-color: @brand-red;
                padding: 12px 20px;
            }

            > #search-controls {
                border-left-color: @brand-orange;
                padding: 6px 20px;
            }

            > #bookmarks-container {
                border-left-color: @brand-blue;
                padding: 12px 20px;
            }

        }

        #social {
            margin-left: -15px;
            margin-right: -15px;
            padding: @nav-link-padding;
            border-left: 10px solid @brand-red;
        }

    }

    // Destktop nav variations
    // --------------------------------------------------
    @media (min-width: @grid-float-breakpoint) {
        
        .container {

            > #navbar {

                margin-left: -@navbar-padding-horizontal;
                margin-right: -@navbar-padding-horizontal;

            }
        }

        .navbar-nav {
            > li {

                margin-bottom: -5px;

            }
        }

        .navbar-brand {

            padding: 30px 0px;

        }

        .navbar-form {

            // move the search box in line with the logo
            position: absolute;
            top: -134px;
            right: floor((@grid-gutter-width / 2));
            
            > * {
                text-align: right;
                margin-bottom: 10px;
            }

        }

        #social {
            padding-top: 6px;
            .pull-right();
        }

    } 
}

// Navigation Button
// ----------------------------------------

@btn-round-size: 44px;
@btn-round-icon-size: 20px;

.btn-round {

    width: @btn-round-size;
    height: @btn-round-size;
    font-size: @btn-round-icon-size;
    line-height: @btn-round-icon-size;
    text-align: center;
    padding: ((@btn-round-size - @btn-round-icon-size) / 2) 0px;
    margin-right: 0px;
    border: 0px;
    border-radius: (@btn-round-size / 2);
    position: relative;
    color: #fff;
    background-color: @brand-blue;
    .transition(.75s ease-out);

    button& {
        background: @brand-blue;
    }

    &:hover {
        color: #fff;
        background-color: @brand-blue-dark;
    }

    &.disabled {
        color: #e5e5e5;
        background-color: @btn-link-disabled-color;
    }

    &.pulse {
        background-color: rgb(255,25,25);
        .box-shadow(0px 0px 0px 70px rgba(255,25,25,.5));
    }

    .badge {
        position: absolute;
        right: -6px;
        top: -12px;
        z-index: 6;
    }

}

// Side nav
// -------------------------------------------
.side-nav {

    .list-unstyled();
    margin-bottom: none;
    background: @body-bg;
    background-color: rgba(255,255,255,.8);
    .box-shadow(0 6px 12px rgba(0,0,0,.175));

    > li {

        border-bottom: 1px solid @gray-background-color;
        padding: 8px 10px;

        &:last-child {
            border-bottom: 0px;
        }

        > a {

            font-family: @font-family-bold;
            text-transform: uppercase;
            color: @text-color;

        }
        &.active {

            background-color: @body-bg;
            z-index: 3;
            position: relative;

            a {

                color: @brand-red;

            }
        }
    }

    // Small viewports
    // -------------------------------------------
    @media only screen and (max-width: @grid-float-breakpoint) {
        > li {

            text-align: left;

        }
    }
}

// Previous and Next navigation
// --------------------------------------------
.prev-next {
    i.fa-caret-left {
        padding-right: 10px;
    }
    i.fa-caret-right {
        padding-left: 10px;
    }
}

// Sharing 
// -------------------------------------------
.sharing {
    i {
        font-size: 28px;
        vertical-align: bottom;
        margin-left: 6px;
        line-height: .85;
    }
}

// Fixed buttons
// ---------------------------------------------

@button-spacing-top: 15px;
@button-spacing-right: 25px;
@button-spacing-right-sm: 8px;

.fixed-btn-container {

    position: fixed;
    right: @button-spacing-right;
    top: @button-spacing-top;
    z-index: 7;

    .btn-round {
        z-index: 5;
        display: block;
    }

    &#bookmarks-container {
        top: ((@btn-round-size + @button-spacing-top) + @button-spacing-top);
    }
    &#link-to-top-container {
        top: auto;
        bottom: @button-spacing-top;
    }
    &#rewind-container {
        top: (((@btn-round-size + @button-spacing-top) * 2) + @button-spacing-top);
    }
    &.close-container  {
        position: absolute;
        top: -(@btn-round-size / 2);
        z-index: 8;
    }
    .dropdown-menu-right {
        right: (@btn-round-size + @button-spacing-right);
        top: 0px;
    }

    @media only screen and (max-width: @screen-sm) {

        right: @button-spacing-right-sm;

        .dropdown-menu-right {
            right: (@btn-round-size + @button-spacing-right-sm);
        }
    }

}

// Link to top button
// ---------------------------------
a#link-to-top {

    .opacity(0);

    &.in {
        .opacity(1);
    }
}

// dropdown
// --------------------------------------------
.dropdown-menu {

    overflow: auto;
    .transition(.5s ease-out);

    > li {
        position: relative;
        padding-right: 40px;

        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid @dropdown-border;

        &:last-child {
            border-bottom: 0px;
        }

        > a {

            white-space: normal;

            &:hover {
                text-decoration: underline;
            }
            
            &.remove-bookmark {
                position: absolute;
                top: 5px;
                right: 0px;
                font-size: 20px;
                line-height: 20px;
                color: @brand-red;
                &:hover {
                    color: darken(@brand-red, 15%);
                }
            }

            &.disabled {
                color: @text-muted;
                white-space: normal;
            }
        }

        &.divider-text {
            padding: 3px 20px;
            font-size: @font-size-small;
            color: @text-muted;
            font-family: @font-family-sans-serif;
        }
    }

    @media only screen and (max-width: @screen-sm-max) {

        > li {
            > a {
                white-space: normal;
            }
        }
    }
}

// Notification badge
// --------------------------------------------
.badge-notification {
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 0px;
}

// Article 
// --------------------------------------------
article {
    img, .embed-responsive, .nav-tabs, figure {

        margin: (@line-height-computed / 2) 0px;

    }
    img {

        width: 100%;
        .img-responsive();

    }

}

// Translation statistics table
// -------------------------------------------
table#translation-stats {

    color: @brand-red;
    margin-bottom: 10px;

    tbody {
        > tr {
            > td {
                font-size: 44px;
                line-height: 44px;
                font-family: @font-family-stats;
            }
            > th {
                vertical-align: middle;
                font-size: @font-size-small;
                line-height: 1.1;
                font-family: @font-family-bold;
                font-weight: normal;
                text-transform: uppercase;
                padding-left: 10px;
            }
        }
    }
}

// Sutra list
// -------------------------------------------
.sutra-list {
    .list-unstyled();
    li {
        background-image:  url('../imgs/sutra-icon.jpg');
        background-size: 70px 70px;
        background-repeat: no-repeat;
        padding: 5px 0px 5px 85px;
        min-height: 85px;
    }
}

// Media panel
// -------------------------------------------
.media-panel {

    background-color: #fff;
    margin-bottom: 22px;

    .media-panel-heading {
        color: #fff;
        background-color: @brand-gray;
        padding: 6px 6px;
        font-family: @font-family-sans-serif;
        text-transform: uppercase;
    }

    .media-panel-image {
        .img-responsive();
        img {
            width: 100%;
        }
    }

    .media-panel-body {
        > * {
            display: block;
            width: 100%;
            margin-top: 6px;
            margin-bottom: 0px;
        }
    }

    .media-panel-table {
        border: 1px solid @table-border-color;
        border-top: 0px;
    }
}

// Media list
// -------------------------------------------
.listing {

    .row {

        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid @gray-background-color;

        &:last-child {

            padding-bottom: 0px;
            margin-bottom: 0px;
            border-bottom: 0px;

        }
    }

    .panel-body img {

        .img-responsive();
        margin-top: (@line-height-computed / 2);

    }

    .title {

        color: @brand-orange;

    }
}

// Thumbnail 
// -------------------------------------------
.thumbnail {
    height: 100px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin-bottom: @grid-gutter-width;
}

// Home page
// ----------------------------------

.home {
    .movie {

        width:100%;

        > iframe {

            height: 100%;
            width: 100%;
            border: 0;

        }

        @media only screen and (max-width: @screen-sm-max) {

            position: relative;
            display: block;
            height: 0;
            padding: 0;
            overflow: hidden;
            padding-bottom: 56.25%;

            > iframe {

                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                

            }

        }

        @media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {

            height: 500px;

        }

        @media (min-width: @screen-lg-min){

            height: 500px;

        }

    }
}

// Big panel headings
// ----------------------------------
.panel-heading {

    width: 100%;

    .bookmark-button {

        text-align: right;

        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            font-size: @font-size-large;
            line-height: 20px;
            padding: 5px 0px;
            text-align: center;
            background-color: @brand-red;
            color: #fff;
            .transition(.25s ease-in);
            &:hover {
                background-color: #fff;
                color: @brand-red;
            }
        }
    }

    .breadcrumb {
        margin-bottom: 0px;
        padding: 0px;
        > li + li:before {
            padding: 0 5px 0 10px;
        }
    }

}

.panel-default .panel-heading-bold {

    width: 100%;
    background-color: @brand-red;
    padding: @panel-heading-padding;

    &, a, li {
        color: #fff;
    }

    .title {
        font-size: @font-size-large;
        font-family: @font-family-bold;
    }

    .label {
        margin-left: 8px;
    }

}

// A panel for a section of a canon
// --------------------------------------------
.section-panel {

    display: block;
    margin: 20px 0px;
    padding: 15px;
    text-align: center;
    background: 
        url(../imgs/ornament/title-ornament.svg) no-repeat top center, 
        url(../imgs/ornament/title-corner-top-left.svg) no-repeat top left, 
        url(../imgs/ornament/title-corner-top-right.svg) no-repeat top right, 
        url(../imgs/ornament/title-corner-bottom-left.svg) no-repeat bottom left, 
        url(../imgs/ornament/title-corner-bottom-right.svg) no-repeat bottom right, 
        url(../imgs/ornament/title-top.svg) repeat-x top center, 
        url(../imgs/ornament/title-top.svg) repeat-x bottom center, 
        url(../imgs/ornament/title-sides.svg) repeat-y top left, 
        url(../imgs/ornament/title-sides.svg) repeat-y top right;
    background-size: 50px, 18px, 18px, 18px, 18px, 50px, 50px, 6px, 6px;
    background-color: #fff;

    .block-link:hover {

        text-decoration: none;

        h3 {
            text-decoration: underline;
        }
    }

    > div {
        .clearfix();
    }

    .title {

        padding-bottom: (@line-height-computed / 2);
        color: @brand-blue;
        border-bottom: 1px solid @panel-inner-border;

    }

    h3.title {

        font-weight: bold;

    }

    .notes {

        color: @text-muted;
        font-size: @font-size-small;

    }

    .footer {

        margin: 0px -15px -15px -15px;
        padding: 0px;
        background-color: #fff;
        font-family: @font-family-sans-serif;
        font-size: @font-size-small;

        > table {

            background-color: @brand-orange;
            color: #fff;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            margin-bottom: 0px;

            th {
                text-align: left;
                padding-left: 10px;
                font-weight: normal;
            }
            td {
                text-align: right;
            }

            th, td {
                border-color: darken(@brand-orange, 10%);
            }

        }
    }

    &.pseudo-section {
        .footer {
            > table {
                background-color: #dedede;
                th, td {
                    border-color: darken(#dedede, 10%);
                    color: @text-color;
                }
            }
        }
    }
        
}

// Header Alert
// ---------------------------------------------
#page-alert {
    background-color: @brand-green;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 7;
    .text-center();
    padding: 10px 15px 25px 15px;
    &, a {
        color: #fff;
    }
    .close {
        background-color: #fff;
        color: @brand-green;
        box-shadow: 0px 0px 4px @brand-green;
    }
}

// Reading room specific styles
// ---------------------------------------------
.reading-room {

    // Title variations 
    // ---------------------------------------------
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        color: @text-color;
    }

    h1 {
        color: @brand-red;
        font-family: @font-family-bold;
    }

    // Type styles 
    // ---------------------------------------------
    p, li, .chapter, .glossary-item {
        position: relative;
        color: @gray;
    }

    // Link styles 
    // ---------------------------------------------
    a.footnote {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -0.5em;
    }

    a.footnote, a.glossary-link, a.glossary-link.mute:hover {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px dashed lighten(@link-color, 30%);
    }
    a.glossary-link.mute {
        border-bottom: 0px;
    }

    hr {
        border-top: 1px dotted #dadbdc;
    }

    // Translation specific styles
    // ---------------------------------------------
    &.translation {

        // Title variations 
        // ---------------------------------------------

        h1, h2, h3 {
            text-align: center;
        }

        h1 {
            font-family: @font-family-heading;
            font-weight: 700;
        }

        h2, h3, h4, h5, h6 {
            font-family: @font-family-serif;
        }

        h3 {
            text-transform: uppercase;
            color: @brand-red;
        }

        h4 {
            margin-top: @line-height-computed;
        }

        .mark {
            padding: 0px;
            /*
            background-color: rgba(255, 255, 0, .25);
            box-shadow: 0px 0px 2px 2px rgba(255, 255, 0, .25);*/
            /*
            background-color: @brand-orange;
            box-shadow: 0px 0px 0px 10px @brand-orange;*/
            background-color: @brand-blue;
            box-shadow: 0px 0px 0px 2px @brand-blue;
            color: #fff !important;
        }

        #title {

            .text-center();

            .page > * {

                .clearfix();
                margin-top: 70px;
                margin-bottom: 0px;

            }

            h1 {
                color: @brand-red;
            }

            h2 {
                color: #565656;
            }

            h1, h2, h3{
                margin: 10px 0px;
            }

            h4 {
                margin: 0px;
            }

            #titles {
                padding: 50px 30px;
                text-shadow: 1px 2px 3px #dfe0e0;
            }

            #long-titles {
                margin-top: 100px;
            }

            img.logo {
                display: inline-block;
                width: 160px;
            }

            .license {
                text-align: center;
                img {
                    display: inline-block;
                    width: auto;
                }
            }

        }

        #contents {
            table {
                td {
                    vertical-align: top;
                    padding: 3px 6px 3px 0px;
                }
            }
        }
        
        .download-options {

            margin-bottom: 70px;

            a {

                display: inline-block;
                margin: 0px 10px;

            }
        }

        .name {
            font-weight: bold;
        }

        
        .panel-heading {

            .text-center();
            /*
            background-color: @panel-bg;
            border-bottom: 1px solid @hr-border;
            padding-top: 25px;
            padding-bottom: 25px;
            */
        }

        section, aside {

            margin-top: 70px;
            margin-bottom: 70px;

        }

        .text {

            h4 {
                color: @text-muted;
                text-align: center;
            }

            h4+h2 {
                margin-top: 0px;
            }

            p {
                text-align: justify;
                width: 100%;
                .blockquote, &.mantra {
                    text-indent: 0;
                    display: inline-block;
                    padding: 3px @line-height-computed;
                    padding-right: 0px;
                    margin: @line-height-computed 0 @line-height-computed;
                    font-size: @blockquote-font-size;
                    border-left: 5px solid @blockquote-border-color;
                }
            }

            p+p {
                text-indent: 2em;
                margin-top: -(@line-height-computed / 2);
            }
            h2+p, h3+p, h4+p, p.space {
                text-indent: 0;
                margin-top: @line-height-computed;
            }
            p.indent {
                text-indent: 0;
                margin-left: @line-height-computed;
            }
            ul {
                list-style: none;
                li {
                    margin-bottom: (@line-height-computed / 2);
                }
            }
        }

        .glossary-item {

            margin-bottom: @line-height-computed;

            .term {
                margin-top: 0px;
            }

            .alternative {
                display: none;
            }

            .occurences {
                h6 {
                    margin-top: 0px;
                }
                li {
                    width: 30px;
                    overflow: visible;
                    font-size: 13px;
                }
            }

        }
        #abbreviations {
            dl {
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    clear: both;
                }
                dt, dd {
                    float: left;
                }
                dt {
                    clear: both;
                }
                dd {
                    clear: none;
                    &:before {
                        content: '-';
                        padding: 0px 8px;
                    }
                }
            }
        }

    }

    // Reading room section
    // ---------------------------------------------
    &.section {

        #title {

            text-align: center;
            margin-bottom: 25px;

            p {
                color: @text-muted;
            }

            hr {
                margin-top: 16px;
                margin-bottom: 16px;
            }

            .logo {
                margin-top: 30px;
                width: 160px;
            }

        }

        .nav-tabs {
            margin-bottom: 15px;
        }

        #sections {
            margin-bottom: 20px;
        }

        h2 {
            color: @text-muted;
        }

        .text-list {

            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;

            .table-headers {

                color: @brand-orange;
                text-transform: uppercase;
                font-weight: bold;
                font-family: @font-family-heading;

                .checkbox {
                    margin: 0px;
                }
                label {
                    font-weight: normal;
                    text-transform: none;
                }

            }

            > .row {
                padding-top: 15px;
                padding-bottom: 15px;

                hr {
                    margin-top:    10px;
                    margin-bottom: 10px;
                }
            }

            > .row:nth-child(odd) {

                background-color: @well-bg;
                border: 1px solid @well-border;
                border-radius: 0px;

                hr {
                    border-color: @well-border;
                }

                .well {
                    background-color: #f5f5f5;
                }
                
            }

            h4 {
                margin-top: 4px;
            }

            .title-en, a.title {
                font-weight: bold;
            }

            a.summary-link {

                display: block;
                color: @brand-orange;
                font-size: @font-size-small;

                i {
                    .transition(.25s linear);
                }

                &.collapsed {
                    i {
                        .rotate(-90deg);
                    }
                }
            }

            .summary-detail {

                .well {
                    margin-top: (@line-height-computed / 2);
                }

                h5:first-child {
                    margin-top: 0px;
                }
            }
        }

        .breadcrumb {
            display: inline;
            margin-bottom: 0px;
            padding: 0px;
            padding-left: 8px;
        }

        .translation-options {
            .list-unstyled();
            > li {
                margin-bottom: 10px;
            }
            i {
                width: 26px;
                text-align: left;
            }
        }

    }

    @media only screen and (max-width: @screen-sm) {

        > .container {
            padding-left: 0px;
            padding-right: 0px;
        }

        &.translation {

            .panel-heading {
                text-align: left;
                padding-right: 55px;
            }

            p {
                font-size: 16px;
                text-align: left;
            }
            #title {
                p {
                    .text-center();
                }
            }
            #abbreviations {
                dl {
                    &:after {
                        display: none;
                    }
                    dt, dd {
                        float: none;
                    }
                    dt {
                        clear: none;
                    }
                    dd {
                        clear: none;
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }

    }

    @media only screen and (max-width: @screen-md) {

        &.translation {

            #title {

                margin-top: 15px;
                margin-bottom: 30px;
                margin-left: 0px;
                margin-right: 0px;
                padding: 15px;

                .page > * {
                    margin-top: 0px;
                    margin-bottom: 30px;
                }
            }

            h2, h3 {
                margin-top: (@line-height-computed / 2);
            }

            .download-options {

                margin-top: 0px;
                margin-bottom: 70px;

            }

            
        }

        &.section {
            .text-list {

                // Shift the status to next to the toh
                .row {
                    position: relative;
                }

                .translation-status {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                }
            }
        }
    }

    // Indent texts to display milestones
    // ------------------------------------
    @indent: 90px;
    @indent-sm: 45px;

    .indent {

        &, p {
            position: relative;
        }

        a.milestone {

            text-decoration: none;
            text-indent: 0;
            font-weight: normal;

            &:hover {
                text-decoration: underline;
            }

        }

        margin-left: @indent;
        margin-right: @indent;

        .indent {
            margin-right: 0px;
        }

        a.milestone, a.footnote-number {
            position: absolute;
            top: 0px;
            left: -@indent;
            max-width: (@indent - 15);
        }

        @media only screen and (max-width: @screen-md) {

            margin-left: @indent-sm;
            margin-right: @indent-sm;

            a.milestone {
                top: 0px;
                left: -@indent-sm;
                max-width: (@indent-sm - 15);
            }

            p.footnote.indent {
                margin-left: 0px;
                position: relative;
            }

            a.footnote-number {
                position: static;
                margin-right: 8px;
            }
        }

    }

    // Pop-up footer for notes and glossary
    // ------------------------------------
    #fixed-footer {

        position:fixed;
        bottom:0px;
        left:0px;
        right: 0px;
        background-color: #fff;
        border-top: 1px solid @hr-border;

        .container {
            position: relative;
            > .panel {
                > .panel-body {
                    padding-bottom: 20px;
                }
            }
        }
        .fix-height {
            overflow: auto;
        }
    }

    &.tests {

        .table th.test,  .table td.test{
            text-align: center;
            .fa {
                margin: -3px;
            }
        }

        .fa {
            font-size: 24px;
        }

        .fa-check-circle {
            color: lighten(@brand-green, 20%);
        }

        .fa-times-circle {
            color: lighten(@brand-red, 10%);
        }

        #fixed-footer {
            h3:first-child {
                margin-top: 0px;
            }
        }

    }


    // Utilities page
    // ----------------------------------------
    &.utilities {

        .tab-content {
            margin-top: 15px;
        }

        .search-result {

            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid @hr-border;

            &:last-child {
                border-bottom: 0px;
            }

        }

        .table {
            td {
                .fa {
                    font-size: 28px;
                }
            }
            tr.header {
                td {
                    color: @brand-red;
                    font-weight: bold;
                }
            }
            tr.sub {
                td {
                    padding-top: 0px;
                    border: 0px;
                    font-family: @font-family-sans-serif;
                    color: @text-muted;
                }
            }

            &.progress {
                border-spacing: 2px;
                border-collapse: separate;
                tr {
                    > td {
                        border-top-width: 0px;
                        text-align: left;
                        padding: 4px;
                        &:first-child {
                            border-left-style: solid;
                            border-left-width: 10px;
                            border-left-color: @label-default-bg;
                            padding-left: 18px;
                        }
                    }
                    &.total {
                        > td:first-child  {
                            border-left-color: @label-danger-bg;
                        }
                    }
                    &.translated {
                        > td:first-child  {
                            border-left-color: @label-success-bg;
                        }
                    }
                    &.in-progress {
                        > td:first-child  {
                            border-left-color: @label-warning-bg;
                        }
                    }
                    &.commissioned {
                        > td:first-child  {
                            border-left-color: @label-primary-bg;
                        }
                    }
                    
                }
                
            }
        }

        #cumulative-glossary {

            position: relative;

            .col-items, .col-nav {
                float: left;
                position: relative;
                min-height: 1px;
                padding-left: floor((@grid-gutter-width / 2));
                padding-right: floor((@grid-gutter-width / 2))
            }

            .col-items {
                width: 95%;
            }
            .col-nav {
                width: 5%;
            }

            #milestone-list .affix {
                top: 20px;
            }

            .glossary-term {

                border-bottom: 1px solid @hr-border;
                margin-bottom: (@line-height-computed / 2);
                margin-left: 40px;
                position: relative;

                 a.milestone {
                    position: absolute;
                    left: -40px;
                    top: 0px;
                    color: #fff;
                    background-color: #aaa;
                    text-decoration:none;
                    padding: 1px 8px;
                    border-radius:4px;
                }

            }

            .glossary-item {
                .title {
                    margin-top:16px;
                    margin-bottom:8px;
                }
            }

            .filter-form {
                position: absolute;
                top: -60px;
                right: 15px;
            }

        }

        fieldset {
            border-color: @legend-border-color;
        }

        legend {
            color: @legend-color;
            padding: 8px;
        }

        label {
            font-family: @font-family-serif;
            font-weight: normal;
            font-size: 15px;
        }
    }
}


// Print variations
// All styles should default to desktop
// ------------------------------------

@media print {
    
    * {
       -webkit-transition: none !important;
       transition: none !important;
    }

    @page  
    { 
        size: 210mm 297mm;
        margin: 25mm 15mm 25mm 15mm;  
    }
    
    .print-width-override {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        float: none !important;
    }
    
    .panel {
        border:0px;
    }

    .panel > .panel-heading {
        border:0px;
    }

    .page {

        margin-top: 380px !important;
        break-before: always;
        page-break-before: always;

        &.page-first {
            break-before: avoid;
            page-break-before: avoid;
        }

    }

    .well {
        border-color: @gray-light;
    }

    .reading-room {
        &.translation {

            #title {
                margin-top: 0px;
            }

            section, aside {
                .glossary-link {
                    border-bottom: 0px;
                }
            }

            .panel-body {
                padding-bottom: 0px;
            }

        }

    }    

    .print-logo {
        width: 150px;
        margin-top: 100px;
        display: inline-block;
    }

    .text-center p {
        text-align: center;
    }

}