
// ---------------------------------------- //
// Styles relevant to the Reading Room
// ---------------------------------------- //

// General styles
// ---------------------------------


// Title variations 
// ---------------------------------------------
h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
    color: @text-color;
}

h3, .milestone-h3 {
    margin-bottom: @line-height-computed;
}

// Danger well for tantra warnings
// ----------------------------------
.well.well-danger {
    color: #ffffff;
    border-color: darken(@brand-red, 10%);
    background-color: @brand-red;
}

// Source text pop-up
// ---------------------------------------------
#popup-footer-source {
    .title {
        margin: (@line-height-computed / 2) 0px;
    }
    p.text-bo {
        line-height: 2;
        padding: 0px 10px;
    }
    hr {
        margin-top: @line-height-computed / 2;
        margin-bottom: @line-height-computed / 2;
    }
    .footer {
        .text-muted();
        text-align: center;
        font-size: @font-size-small;
        a.info {
            color: @text-muted;
            margin-left: 8px;
            vertical-align: sub;
            i {
                font-size: 20px;
            }
            &:hover {
                color: @brand-red;
            }
        }
    }
    .popover-title {
        margin: 0px;
    }
}

// Contents table
// ---------------------------------------------
table.contents-table {
    tr {
        break-inside: auto;
        page-break-inside: auto;
    }
    td {
        //vertical-align: top;
        padding: 4px 6px 4px 0px;
        break-inside: auto;
        page-break-inside: auto;
    }
    tfoot {
        border-top: 1px solid @hr-border;
        td {
            font-style: italic;
            color: @text-muted;
        }
    }
}
.fixed-sidebar {
    table.contents-table {
        margin-bottom: 20px;
    }

}

// Translation specific styles
// ---------------------------------------------
.translation {

    color: @gray;

    // Title variations 
    // ---------------------------------------------

    h1, h2, h3 {
        text-align: center;
    }

    h1 {
        font-family: @font-family-heading;
        font-weight: 700;
    }
    
    h2, h3, h4, h5, h6 {
        font-family: @font-family-serif;
    }

    h3 {
        text-transform: uppercase;
        color: @brand-red;
    }

    h2, .milestone-h2, h3, .milestone-h3, h4, .milestone-h4 {
        margin-top: @line-height-computed;
    }

    .trailer {
        font-style: italic;
        .ref, .footnote-link {
            font-style: normal;
        }
    }

    .section-label {
        font-weight: bold;
        margin-top: @line-height-computed;
        color: inherit;
    }

    // Milestones for titles
    // ---------------------------------------------
    .milestone-h2, .milestone-h3, .milestone-h4 {
        display: block;
    }

    // Layout
    // ------------------------------------------
    .panel-heading {
        .text-center();
    }

    section, aside {

        margin-top: 70px;
        margin-bottom: 70px;
        position: relative;

        > div {
            .clearfix();
        }

    }

    // Link styles 
    // ---------------------------------------------
    a.footnote-link {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -0.5em;
    }

    a.footnote-link, a.glossary-link, &.mute-glossary a.glossary-link:hover, &.mute-glossary .fixed-footer a.glossary-link {
        .transition(none);
        text-decoration: none;
        border-bottom: 1px dashed lighten(@link-color, 20%);
        &.mark {
            color: #000;
            border-bottom-color: #000;
        }
    }

    // Glossary links
    // ---------------------------------------------
    &.mute-glossary {
        a.glossary-link {
            .transition(1s ease-in);
            color: inherit;
            border-bottom-color: transparent;
        }
    }

    // Gutter system
    // --------------------------------
    .rw { // row
        display: block;
        padding-left: @text-gtr-width;
        overflow: auto;
        .rw{
            margin-left: -@text-gtr-width;
        }
        .rw-heading {
            overflow: auto;
        }
        .gtr{
            display: block;
            float: left;
            margin-left: -@text-gtr-width;
            overflow-wrap: break-word;
            .milestone {
                width: (@text-gtr-width - @panel-body-padding);
                display: block;
                overflow: auto;
                overflow-wrap: break-word;
                position: relative;
                z-index: 2;
            }
        }
    }
    

    // Title section
    // ---------------------------------------------
    #title {

        .text-center();

        .page {
            margin-top: 70px;
            .clearfix();
        } 

        h1 {
            color: @brand-red;
        }

        h2 {
            color: #565656;
        }

        h1, h2, h3{
            margin: 10px 0px;
        }

        h4 {
            margin: 0px;
        }

        #toh {
            margin: 20px 0px;
        }

        #titles {
            width: auto;
            padding: 30px;
            margin: 0px;
            margin-top: 50px;
            text-shadow: 1px 2px 3px #dfe0e0;
            .clearfix();
        }

        #long-titles {
            margin-bottom: 120px;
            .clearfix();
        }

        #titles + #long-titles {
            margin-top: 50px;
        }

        #titles, #long-titles {
            h1, h2, h3, h4 {
                border-bottom: 1px solid @hr-border;
                padding-bottom: 15px;
                margin-bottom: 15px;
                &:last-child {
                    border-bottom: 0px;
                    margin-bottom: 0px;
                }
            }
        }

        img.logo {
            width: 140px;
            display: inline-block;
            margin-bottom: 30px;
        }

        #license {
            margin-top: @line-height-computed;
            img {
                display: inline-block;
                width: auto;
                margin-bottom: (@line-height-computed / 2);
            }
        }

    }
    
    // Download buttons
    // ---------------------------------------------
    .download-options {

        margin-bottom: 70px;

        a {

            display: inline-block;
            margin: 0px 10px;

        }
    }

    // Sections containing text
    // ---------------------------------------------
    .text {

        h4 {
            color: @text-muted;
            text-align: center;
        }

        h4+h2 {
            margin-top: 0px;
            margin-bottom: @line-height-computed;
        }

        br {
            display: none;
        }

        p {
            text-align: justify;
            width: 100%;
            margin-bottom: 0;
            text-indent: @line-height-computed;
            br {
                display: block;
            }
            &.mantra {
                text-indent: 0;
                padding: 0px @line-height-computed;
            }
        }

        // Space some sections
        h2+*, // paragraph after a header
        h3+*, 
        h4+*, 
        br+*, // paragraph after a break
        .space, // element marked as space
        .space+*, // element after element marked as space
        .space-after+*, // element after element marked as space-after
        .milestone-space 
        {
            margin-top: @line-height-computed;
        }

        // Remove indent for first paragraph after spaced sections
        .rw:first-child > p, 
        .rw.first-child > p, 
        h2+.rw > p, 
        h3+.rw > p, 
        h4+.rw > p, 
        br+.rw > p,
        .space > p, // A paragraph in a spaced section 
        .space+.rw > p, // The paragraph after a spaced section
        .space-after+.rw > p, // The paragraph after a spaced section
        .footnote-number {
            text-indent: 0;
        }

        // Hanging indent 
        .line-group {
            .line {
                padding-left: @line-height-computed;
                text-indent: -@line-height-computed;
            }
        }
        
        blockquote {

            padding: 0;
            margin-bottom: 0;
            margin-left: -5px;

            p {
                padding-left: @line-height-computed;
            }
            .line-group .line {
                padding-left: (@line-height-computed * 2);
            }

        }

        .list {
            p, .section-label {
                margin-top: 0;
                margin-bottom: 0;
            }
            .list-item {
                p, .section-label {
                    padding-left: @line-height-computed;
                }
                .list-item {
                    p, .section-label {
                        padding-left: (@line-height-computed * 2);
                    }
                    .list-item {
                        p, .section-label {
                            padding-left: (@line-height-computed * 3);
                        }
                        .list-item {
                            p, .section-label {
                                padding-left: (@line-height-computed * 4);
                            }
                        }
                    }
                }
            }
        }
    }

    // Glossary items
    // --------------------------------------------
    .glossary-item {

        margin-bottom: @line-height-computed;
        overflow: hidden;

        .term {
            //line-height: 20px;
            margin-top: 0px;
            margin-bottom: 4px;
            //padding-bottom: 8px;
            //border-bottom: 1px solid @hr-border;
        }
        
        p {
            margin-bottom: 4px;
        }

        .text-sa, .text-wy {
            font-style: italic;   
        }

        .alternative {
            display: none;
        }

        .occurences {
            h6 {
                margin-top: 4px;
            }
            ul {
                > li {
                    width: 30px;
                    overflow: visible;
                    font-size: 13px;
                    a {
                        white-space: nowrap;
                    }
                }
            }
            
        }
    }

    // Abbreviations
    // --------------------------------------------
    #abbreviations {
        .table {
            width: auto;
            margin-bottom: (@line-height-computed / 2);
            > tbody > tr {
                > th {
                    font-weight: normal;
                    font-style: italic;
                    padding-left: 0;
                }
                > th, > td {
                    border-top: 0px;
                    color: @gray;
                }
            }
        } 
    }

    // Bibliography
    // --------------------------------------------
    #bibliography {
        p {
            padding-left: @line-height-computed;
            text-indent: -@line-height-computed;
        }
    }

    // Footnotes
    // --------------------------------------------
    .footnote {
        margin-bottom: (@line-height-computed / 2);
        > .line-group {
            margin-top: (@line-height-computed / 2);
        }
    }

    // Nested sections
    // --------------------------------------------
    .nested-section {
        .section-label {
            font-size: @font-size-h4;
        }
        .nested-section {
            .section-label {
                font-size: @font-size-h5;
            }
        }
    }

}

// Different styles for the editors
// ---------------------------------------------
.editor-mode {
    &.reading-room.translation {
        a.footnote-link, a.glossary-link {
            color: inherit;
            border-bottom-color: @brand-red-alert !important;
        }
        .glossary-item .alternative {
            display: block;
            color: @brand-orange;
        }
    }
}

// Screen variations
// All styles should default to desktop/screen
// except ...
// -------------------------------------------

@media screen {

    section, aside {

        > .render-in-viewport {
            display: none;
        }

        > .unrendered-preview {
            .fade-out(80px);
            a {
                border-bottom: 0 !important;
                color: inherit !important;
                text-decoration: none !important;
            }
        }

        a.render, a.preview {
            position: absolute;
            z-index: 4;
            text-align: center;
            margin-top: 0px !important; // in case it occurs after a .space
        }

        a.render {
            bottom: -(@btn-round-size / 2);
            left: 0px;
            right: 0px;
            margin-left: @text-gtr-width;
            .btn-round {
                background-color: #fff;
                border: 1px solid @brand-red;
                i {
                    color: @brand-red;
                }
            }
        }
        
        a.preview {
            position: absolute;
            top: -@btn-round-size;
            right: -@btn-round-size;
            .btn-round {
                background-color: #ccc;
                i {
                    color: #fff;
                }
            }
        }

    }

    // Render everything in editor mode
    // -------------------------------------
    .editor-mode {
        section, aside {
            > .render-in-viewport {
                display: block;
            }
        }
    }

}

// Print variations
// All styles should default to .screen.desktop
// --------------------------------------------
@media print {

	p {
        // Don't show link text for source links
        // ---------------------------------------
        a.ref {
            text-decoration: none;
            &:after {
                content: "";
            }
        }
    } 

    .translation {

        #title {
            margin-top: 0px;
        }

        section, aside {
            .glossary-link {
                border-bottom: 0px;
            }
        }

        .panel-body {
            padding-bottom: 0px;
        }

        .glossary-item {
            p {
                font-size: 12pt;
            }
        }
        a.ref[href]:after {
            content: "";
        }
    }

    .unrendered-preview, a.render, a.preview {
        display: none;
    }

}

// Small viewport variations
// --------------------------------------------
@media only screen and (max-width: @screen-sm) {

    .translation {

        p {
            font-size: @font-size-base;
            text-align: left;
        }

        #title {
            p {
                text-align: center;
            }
        }

        #abbreviations {
            dl {
                &:after {
                    display: none;
                }
                dt, dd {
                    float: none;
                }
                dt {
                    clear: none;
                }
                dd {
                    clear: none;
                    &:before {
                        display: none;
                    }
                }
            }
        }

        .text {
            p {
                text-align: left;
            }
        }

        .rw { // row
            padding-left: @text-gtr-width-sm;
            .rw {
                margin-left: -@text-gtr-width-sm;
            }
            .gtr{
                margin-left: -@text-gtr-width-sm;
                .milestone {
                    width: (@text-gtr-width-sm - @panel-body-padding);
                }
            }
            .rw-heading {
                > * {
                    text-align: left;
                }
            }
        }

        a.render {
            margin-left: @text-gtr-width-sm;
        }

        // Adjusted for Text to speech
        // --------------------------------------
        #link-to-top-container {
            right: (((@btn-round-size + @button-spacing-top) * 2) + @button-spacing-top);
        }

        section, aside{
	    	a.preview {
	            top: -@btn-round-size;
	            right: 0px;
	        }
	    }
    }

    .nav-controls {
        position: fixed;
        bottom: 0px;
        top: auto;
        left: 0px;
        right: 0px;
        height:70px;
        background-color: #fff;
        border-top: 1px solid @hr-border;
        z-index: 5
    }

}

// Medium viewport variations
// --------------------------------------------
@media only screen and (max-width: @screen-md) {

    .translation {

        #title {

            margin-top: 15px;
            margin-bottom: 30px;
            margin-left: 0px;
            margin-right: 0px;
            padding: 15px;

            .page-first {
                margin-top: 0px;
            }

            .page > * {
                margin-top: 0px;
                margin-bottom: 30px;
            }

            #titles {
                margin-top: 0px;
            }
        }

        h2, h3, .milestone-h3 {
            margin-top: (@line-height-computed / 2);
        }

        .download-options {

            margin-top: 0px;
            margin-bottom: 70px;

        }
        
    }
}


// Utilities page
// ----------------------------------------
.utilities {

    fieldset {
        border-color: @legend-border-color;
    }

    legend {
        color: @legend-color;
        padding: 8px;
    }

    label {
        font-family: @font-family-serif;
        font-size: @font-size-base;
        line-height: 1.1;
    }

    #translation-search {
        .source {
            margin-top: @line-height-computed / 2;
        }
    }

    #translation-memory {
        form {
            margin-bottom: @line-height-computed / 2;
            .clearfix();
        }
        .form-group {
            &.text {
                padding-left: 7px;
            }
        }
        .text-overlay {
            position: relative;
            .text.divided {
                position: relative;
                span.section {
                    background-color: #fff;
                    color: #aaa;
                    padding: 3px 0px;
                    &.selected {
                        background-color: #fff;
                        color: @text-color;
                    }
                }
            }
            .text.plain {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                z-index: 1;
                background-color: transparent;
                color: transparent;
            }
            .text-bo {
                font-size: 14px;
            }
        }
        textarea.form-control {
            font-size: 1.4em;
        }
        .mark {
            text-decoration: none;
            background-color: rgba(red(@brand-orange), green(@brand-orange), blue(@brand-orange), 0.5);
            color: darken(@brand-orange, 20%);
            .box-shadow(none);
            &.bold {
                background-color: rgba(red(@brand-green), green(@brand-green), blue(@brand-green), 0.5);
                color: darken(@brand-green, 20%);
            }
        }
        .unit {
            padding-top: @line-height-computed / 2;
            border-top: 1px solid @hr-border;
            display: block;
            &.replaced {
                display: none;
            }

        }
    }

    .search-result {

        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid @hr-border;

        &:last-child {
            border-bottom: 0px;
        }

        .translation {
            padding-left: 15px;
            border-left: 5px solid @hr-border;
        }

    }

    .table {
        
        tr.header {
            td {
                color: @brand-red;
                font-weight: bold;
            }
        }
        tr.sub {
            td {
                padding-top: 0px;
                border: 0px;
                font-family: @font-family-sans-serif;
                color: @text-muted;
            }
        }

        &.table-icons {
            td {
                .fa {
                    font-size: 28px;
                }
            }
        }

        &.progress {
            border-spacing: 2px;
            border-collapse: separate;
            margin-top: @line-height-computed;
            tr {
                > td {
                    border-top-width: 0px;
                    text-align: left;
                    padding: 4px;
                    &:first-child {
                        border-left-style: solid;
                        border-left-width: 10px;
                        border-left-color: @label-default-bg;
                        padding-left: 18px;
                    }
                }
                &.total {
                    > td:first-child  {
                        border-left-color: @gray;
                    }
                }
                &.published {
                    > td:first-child  {
                        border-left-color: @brand-green;
                    }
                }
                &.translated {
                    > td:first-child  {
                        border-left-color: @brand-blue;
                    }
                }
                &.in-translation {
                    > td:first-child  {
                        border-left-color: @brand-orange;
                    }
                }
                &.sponsored {
                    > td:first-child  {
                        border-left-color: @brand-red;
                    }
                }
            }
            
        }
    }

    #cumulative-glossary {

        position: relative;

        .col-items, .col-nav {
            float: left;
            position: relative;
            min-height: 1px;
            padding-left: floor((@grid-gutter-width / 2));
            padding-right: floor((@grid-gutter-width / 2))
        }

        .col-items {
            width: 95%;
        }
        .col-nav {
            width: 5%;
        }

        #milestone-list .affix {
            top: 20px;
        }

        .glossary-term {

            border-bottom: 1px solid @hr-border;
            margin-bottom: (@line-height-computed / 2);
            margin-left: 40px;
            position: relative;

             a.milestone {
                position: absolute;
                left: -40px;
                top: 0px;
                color: #fff;
                background-color: #aaa;
                text-decoration:none;
                padding: 1px 8px;
                border-radius:4px;
            }

        }

        .glossary-item {
            .title {
                //margin-top:16px;
                margin-bottom:8px;
            }
        }

        > .row {
            margin-bottom: 15px;
        }
        .download-link {
            padding: @nav-link-padding;
            .pull-right();
        }

    }

    #sponsors-table {
        li > i {
            width: 22px;
            text-align: center;
            margin-right: 6px;
        }
    }

}

// Tests page
// --------------------------------------
.tests {

    .table th.test,  .table td.test{
        text-align: center;
        .fa {
            margin: -3px;
        }
    }

    .fa {
        font-size: 24px;
    }

    .fa-check-circle {
        color: lighten(@brand-green, 20%);
    }

    .fa-times-circle {
        color: lighten(@brand-red, 10%);
    }

    .fixed-footer {
        h3:first-child {
            margin-top: 0px;
        }
    }

    .debug {
        color: @gray;
        background-color: #eee;
    }

}