
// ---------------------------------------- //
// Styles relevant to the Comms site theme
// ---------------------------------------- //

// Homepage
// -----------------------------------------
.home {

    .heading {
        font-family: @font-family-heading;
        font-weight: 700;
        text-transform: uppercase;
    }

    // Homepage title band
    // -----------------------------------------

    #title-band {
        /*linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(149, 69, 0, 0.47) 50%, rgba(255, 255, 255, 0.0) 90%), */
        background-image: url('/imgs/backgrounds/LTWA1.jpg');
        background-size: cover;
        background-position: 50% 40%;
        > .container {
            padding-top: 50px;
            padding-bottom: 25px;
        }
        h2 {
            color: #fff;
        }
        p {
            &, a {
                color: #fff;
            }
        }
    }
    .title-box, .title-box-addon {
        margin: 0px 15px;
        padding: 0px 25px 15px 25px;
        position: relative;
        .background-pattern(80px);
        background-color: @brand-blue-dark;
        //opacity: 0.9;
        .clearfix();
    }
    .title-box {
        border-radius: @border-radius-large @border-radius-large 0px 0px;
        margin-top: 50px;
        .img-container {
            margin-top: -50px;
            img {
                width: 260px;
                max-width: 100%;
            }
        }
    }
    .title-box-addon {
        content: ' ';
        border-radius: 0px 0px @border-radius-large @border-radius-large;
        height: 20px;
    }

    // Homepage latest publications
    // -----------------------------------------
    #latest-pubs {
        .panel {
            margin-top: 0px;
            border-radius: @border-radius-large;
            background-color: rgba(255, 255, 255, 1);
            margin-bottom: 0px;
            border: 0px;
        }
        h5 {
            color: @brand-red;
        }
        h3 {
            color: @gray-dark;
            margin-top: 0px
        }
        p {
            color: @gray-dark;
        }
        .source-titles {
            color: @gray;
        }
        blockquote {
            border-left: 0px;
            padding: 11px 15px;
            margin-bottom: 0px;
        }
        .quote {
            border-left: 1px solid #bbb;
            text-align: left;
            @media only screen and (max-width: 920px) {
                border-left: none;
                text-align: center;
            }
            footer, #latest .quote a {
                color: @link-color;
            }
        }
        .item {
            padding: 0px 30px;
            .vertical-pad {
                padding-top: 40px;
            }
        }
    }

    // Homepage about band
    // -----------------------------------------
    #about-band {
        
        background-color: #fff;
        padding-top: 25px;
        padding-bottom: 25px;

        h2 {
            color: @brand-green;
        }
        
        .category {
            padding: 25px 0px;
            margin: 0px auto;
            border-radius: @border-radius-base;
            @homepage-category-image-size: 250px;
            .image {
                content: '';
                width: @homepage-category-image-size;
                height: @homepage-category-image-size;
                margin: 0px auto;
                border-radius: @homepage-category-image-size / 2;
                border: 7px solid @brand-orange;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
            }
            p {
                color: #707070;
                margin: 0px auto;
                max-width: 350px;
            }
        }
        .category.work {
            .image {
                border-color: @brand-orange; 
                background-image: url('/imgs/homepage-circles/work.jpg');
            }
            h2, a {
                color: @brand-orange; 
            }
            .list-group-item:before {
                border-color: @brand-orange;
            }
        }
        .category.impact {
            .image {
                border-color: @brand-blue; 
                background-image: url('/imgs/homepage-circles/impact.jpg');
            }
            h2, a {
                color: @brand-blue; 
            }
            .list-group-item:before {
                border-color: @brand-blue;
            }
        }
        .category.people {
            .image {
                border-color: @brand-red; 
                background-image: url('/imgs/homepage-circles/people.jpg');
            }
            h2, a {
                color: @brand-red; 
            }
            .list-group-item:before {
                border-color: @brand-red;
            }
        }
    }

    // Homepage news band
    // -----------------------------------------
    #news-band {
        background: transparent;
        padding-top: 15px;
        padding-bottom: 15px;
        > .container {
            position: relative;
        }
        h2 {
            color: #e5e5e5;
            margin-bottom: 25px;
            text-align: center;
            text-transform: uppercase;
        }
        a:hover {
            text-decoration: none;
        }
        .panel {
            padding: 5px;
        }
        .panel-default > .panel-heading {
            background-color: #ffffff;
            color: #999;
            text-align: center;
            text-transform: uppercase;
            border-color: transparent;
        }
        .news-banner, .announcement-banner, .news-image {
            height: 160px;
        }
    }

    // Homepage movie band
    // -----------------------------------------
    #movie-band {
        /*background-image: linear-gradient(180deg, rgb(255, 255, 255) 50%, rgb(230, 230, 230) 100%);*/
        background-color: #ffffff;
        padding: 35px 0px;
    }

    .list-group {
        max-width: 260px;
        margin: 12px auto;
    }
    .list-group-item {
        border: 0;
        border-radius: 0px;
        position: relative;
        &:before {
            position: absolute;
            content: ' ';
            top: 0px;
            border-top: 1px solid #aaa;
            display: block;
            width: 20%;
            left: 40%;
            opacity: .5;
        }
        &:first-child:before {
            display: none;
        }
    }
}

// News panels
// ----------------------------------------
// .news-image: news with image
// .news-banner: news without image
// .announcement-banner: publication announcement
.news-banner, .announcement-banner, .news-image {
    width: 100%;
    min-height: 140px;
    border-radius: @border-radius-base;
}
.news-banner, .announcement-banner {
    display: table;
    line-height: 1.2em;
    text-align: center;
    color: #fff;
    .title {
        font-size: 1.2em;
        margin-bottom: 15px;
    }
    .sub-title {
        font-size: .9em;
    }
    &.title-long {
        .title {
            font-size: 1.1em;
        }
    }
}
.news-banner {
    .background-pattern(40px);
    background-repeat: repeat;
}
.announcement-banner {
    .background-pattern(40px);
    background-color: @brand-red;
}
.news-image {
    &.thumbnail img {
        object-fit: cover;
    }
}
.news-banner > div, .announcement-banner > div {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}

// Divider 
// ---------------------------------------------
.page-divider {
    position: relative;
    &:after {
        content: '';
        background-image: url('/imgs/page-divider.svg');
        position: absolute;
        top: -3px;
        left: 39%;
        width: 22%;
        height: 6px;
        background-position: center;
        background-repeat-x: no-repeat;
        background-size: cover;
        @media only screen and (max-width: 1200px) {
            left: 25%;
            width: 50%;
        }
    }
}

// Read more link
// -----------------------------------------
p  a.read-more {
    font-weight: normal;
    white-space: nowrap;
}

// Image caption
// -------------------------------------------
figcaption, .lb-caption, .lb-number {
    font-family: @font-family-sans-serif;
    font-size: @font-size-small;
}

.lb-caption, .lb-number {
    color: #fff;
    text-align: left;
}

// Article 
// --------------------------------------------
article {

    margin-bottom: @line-height-computed;

    img {
        max-width: 100%;
        object-fit: cover;
    }

    img, .embed-responsive, .nav-tabs, figure {
        margin: (@line-height-computed / 2) 0px;
    }

    center, figure {
        text-align: center;
        img {
            max-height: 400px;
            max-width: 100%;
            width: auto;
        }
        em, figcaption {
            float: left;
            clear: left;
            width: 100%;
            color: @brand-orange;
        }
    }

    p {
        line-height: 1.6;
    }

    // Fix for wayward markup 
    h4, h5, h6 {
        img, em {
            width: 100%;
            height: auto;
        }
    }
}

// Aside
// -------------------------------------------
aside {
    font-family: @font-family-heading;
    font-size: .9em;
    color: #888;
}

.nav-sidebar {
    a {
        color: @text-color;
    }
}

// Panels 
// -------------------------------------------
.panel-body {

    h2:first-child, blockquote:first-child+h2 {
        margin-top:  (@line-height-computed / 2);
    }

    &.no-padding {
        padding: 0px;
    }

}
.panel-heading {
    a {
        color: inherit;
    }
}
.panel-danger {
    .label-default {
        background-color: #fff;
        color: @brand-red;
    }
}

// Staggered blockquotes
// ----------------------------------------------
blockquote.offset {
    margin-bottom: 40px;
}
blockquote.offset:nth-child(4n+1) {
    border-color: @brand-red;
    margin-left: 0%;
    margin-right: 21%;
}
blockquote.offset:nth-child(4n+2) {
    border-color: @brand-orange;
    margin-left: 14%;
    margin-right: 7%;
}
blockquote.offset:nth-child(4n+3) {
    border-color: @brand-green;
    margin-left: 7%;
    margin-right: 14%;
}
blockquote.offset:nth-child(4n+4) {
    border-color: @brand-blue;
    margin-left: 21%;
    margin-right: 0%;
}

// Translation statistics table
// -------------------------------------------
table#translation-stats {

    color: @brand-red;
    margin: 0 auto;
    margin-bottom: 20px;

    tbody {
        > tr {
            > td {
                vertical-align: middle;
                font-size: 44px;
                line-height: 44px;
                font-family: @font-family-stats;
                text-align: center;
                letter-spacing: -1px;
            }
            > td:first-child {
                text-align: right;
            }
            > td:last-child {
                text-align: left;
            }
            > th {
                vertical-align: middle;
                font-size: 15px;
                line-height: 1.3;
                font-family: @font-family-bold;
                font-weight: normal;
                text-transform: uppercase;
                padding: 0px 6px;
                text-align: left;
                letter-spacing: -1px;
                &:first-child {
                    text-align: right;
                }
            }
        }
    }
}

// Blocks of stats
// -------------------------------------------
.about-stats {
    margin-top: 5px;
    margin-bottom: 30px;
    .stat {
        margin-bottom: (@line-height-computed / 2);
        .heading {
            font-family: @font-family-bold;
            text-transform: uppercase;
            font-size: 15px;
            color: @brand-red;
        }
        .data {
            color: @text-muted;
            font-size: 18px;
            span {
                font-size: 34px;
                line-height: 34px;
                font-family: @font-family-stats;
            }
        }
        padding-left: 15px;
        &.green {
            border-left: 5px solid @brand-green;
        }
        &.blue {
            border-left: 5px solid @brand-blue;
        }
        &.orange {
            border-left: 5px solid @brand-orange;
        }
        &.red {
            border-left: 5px solid @brand-red;
        }
        &.gray {
            border-left: 5px solid @brand-gray;
        }
    }
    p {
        line-height: 1.4;
    }
}

// Coloured blocks
// -------------------------------------------
.eft-block {
    &.green {
        h4, h5 {
            color: @brand-green;
        }
    }
    &.blue {
        h4, h5 {
            color: @brand-blue;
        }
    }
    &.orange {
        h4, h5 {
            color: @brand-orange;
        }
    }
    &.red {
        h4, h5 {
            color: @brand-red;
        }
    }
}

// Archive list
// ------------------------------------------
ul.list-archive {
    .list-unstyled();
    li {
        padding-bottom: 6px;
        font-size: @font-size-small;
        font-family: @font-family-sans-serif;
        &:last-child {
            padding-bottom: 0px;
        }
    }
}

// Media list
// -------------------------------------------
.listing-panel {

    h1 {
        margin-top: 0px;
    }

    .row {
        padding-bottom: 30px;
    }

    .title, p {
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .thumbnail {
        height: 140px;
        border-radius: @border-radius-base;
    }

    .entry-content {
        border-left: 1px solid @hr-border;
        padding-left: 15px;
    }

    @media only screen and (max-width: @screen-sm) {
        img {
            margin: auto;
        }
    }
}

// Thumbnail 
// -------------------------------------------
.thumbnail {

    width: 100%;
    display: block;
    overflow: hidden;
    background-color: #eee;

    img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        margin: 0px;
    }

    img.stretch {
        object-fit: cover;
    }

    .gallery & {
        height: 100px;
        margin-bottom: @grid-gutter-width;
    }

    //.home .media-panel-image& {
    //    height: 140px;
    //}

    .home .movie & {
        height: 100%;
        background-color: #333;
    }

}

.playmedia {
    float: left;
    clear: none;
    padding-right:15px;
    img {
        float: left;
        clear: none;
    }
    .caption {
        float: left;
        clear: both;
        padding-top: 8px;
        width: 100%;
        text-align: center;
    }
}

// Homepage movie
// ----------------------------------

.movie-container {

    width: 100%;
    height: 460px;
    background-color: #333;

    > a {
        display: block;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media only screen and (max-width: @screen-sm-max) {

        height: 280px;
    }
}

// Chinese homepage movie modal
// -----------------------------------
#homepage-movie.modal {
    .modal-body {
        padding: 0px;
        background-color: #333;
        embed {
            display: block;
            margin: 0px auto;
            height: 500px;
            width: 100%;
            @media only screen and (max-height: 500px) {
                height: 320px;
            }
        }
    }
}

// WP tabs
// --------------------------------------------------
ul.responsive-tabs__list{
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;
    &:extend(.clearfix all);
    border-bottom: 1px solid @nav-tabs-border-color;
    > li {
        position: relative;
        display: block;
        float: left;
        padding: @nav-link-padding;
        // Make the list-items overlay the bottom border
        margin-bottom: -1px;

        line-height: @line-height-base;
        border: 1px solid transparent;
        border-radius: @border-radius-base @border-radius-base 0 0;
        cursor: pointer;

        // Active state, and its :hover to override normal :hover
        &.responsive-tabs__list__item--active {
            &,
            &:hover,
            &:focus {
                color: @nav-tabs-active-link-hover-color;
                background-color: @nav-tabs-active-link-hover-bg;
                border: 1px solid @nav-tabs-active-link-hover-border-color;
                border-bottom-color: transparent;
                cursor: default;
                .user-select(none);
                outline: 0;
            }
        }
    }
}

.responsive-tabs__heading {
    display: none;
}

.tabcontent {
    border: 1px solid @nav-tabs-active-link-hover-border-color;
    border-top: 0;
    padding: 10px 20px; 
    img.inside_tab {
        display: block;
        width: 100%;
    }
    margin-bottom: 20px;
}

.multi {
    display: inline-block;
    > * {
        display: inline-block;
    }
}

// WP Pagination (multiple pages)
// --------------------------------------------------
.wp-paginate {
  display: inline-block;
  padding-left: 0;
  margin: @line-height-computed 0;
  border-radius: @border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: @padding-base-vertical @padding-base-horizontal;
      line-height: @line-height-base;
      text-decoration: none;
      color: @pagination-color;
      background-color: @pagination-bg;
      border: 1px solid @pagination-border;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        .border-left-radius(@border-radius-base);
      }
    }
    &:last-child {
      > a,
      > span {
        .border-right-radius(@border-radius-base);
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      z-index: 2;
      color: @pagination-hover-color;
      background-color: @pagination-hover-bg;
      border-color: @pagination-hover-border;
    }
  }

  > li > span.current {
      z-index: 3;
      color: @pagination-active-color;
      background-color: @pagination-active-bg;
      border-color: @pagination-active-border;
      cursor: default;
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: @pagination-disabled-color;
      background-color: @pagination-disabled-bg;
      border-color: @pagination-disabled-border;
      cursor: @cursor-disabled;
    }
  }
  .panel-footer & {
    margin: 0;
  }
}

// Previous and Next navigation
// --------------------------------------------
.prev-next {
    i.fa-caret-left {
        padding-right: 10px;
    }
    i.fa-caret-right {
        padding-left: 10px;
    }
}

// WP align styles
// --------------------------------------------
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}
.alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
}

// WP Captions
// https://github.com/WordPress/wordpress-develop/blob/96922900c528d5948489bb7d6efc449dfde94826/src/wp-content/themes/twentynineteen/style.css#L6227
// --------------------------------------------
.wp-caption {
  margin-bottom: calc(1.5 * 1rem);
}
.wp-caption.aligncenter {
    position: relative;
}
.wp-caption img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption-text {
  color: #767676;
  font-size: 0.8em;
  font-family: @font-family-sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  margin: 0 auto;
  max-width: 280px;
}

// WP Galleries
// https://github.com/WordPress/wordpress-develop/blob/96922900c528d5948489bb7d6efc449dfde94826/src/wp-content/themes/twentynineteen/style.css#L6265
// --------------------------------------------
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: calc(1.5 * 1rem);
}

.gallery-item {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: calc((100% - 16px * 1) / 2);
}

.gallery-columns-2 .gallery-item:nth-of-type(2n+2) {
  margin-right: 0;
}

.gallery-columns-3 .gallery-item {
  max-width: calc((100% - 16px * 2) / 3);
}

.gallery-columns-3 .gallery-item:nth-of-type(3n+3) {
  margin-right: 0;
}

.gallery-columns-4 .gallery-item {
  max-width: calc((100% - 16px * 3) / 4);
}

.gallery-columns-4 .gallery-item:nth-of-type(4n+4) {
  margin-right: 0;
}

.gallery-columns-5 .gallery-item {
  max-width: calc((100% - 16px * 4) / 5);
}

.gallery-columns-5 .gallery-item:nth-of-type(5n+5) {
  margin-right: 0;
}

.gallery-columns-6 .gallery-item {
  max-width: calc((100% - 16px * 5) / 6);
}

.gallery-columns-6 .gallery-item:nth-of-type(6n+6) {
  margin-right: 0;
}

.gallery-columns-7 .gallery-item {
  max-width: calc((100% - 16px * 6) / 7);
}

.gallery-columns-7 .gallery-item:nth-of-type(7n+7) {
  margin-right: 0;
}

.gallery-columns-8 .gallery-item {
  max-width: calc((100% - 16px * 7) / 8);
}

.gallery-columns-8 .gallery-item:nth-of-type(8n+8) {
  margin-right: 0;
}

.gallery-columns-9 .gallery-item {
  max-width: calc((100% - 16px * 8) / 9);
}

.gallery-columns-9 .gallery-item:nth-of-type(9n+9) {
  margin-right: 0;
}

.gallery-item:last-of-type {
  padding-right: 0;
}

.gallery-caption {
  display: block;
  font-size: 0.71111em;
  font-family: @font-family-sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
}

.gallery-item > div > a {
  display: block;
  line-height: 0;
  box-shadow: 0 0 0 0 transparent;
}

.gallery-item > div > a:focus {
  box-shadow: 0 0 0 2px #0073aa;
}

// Floated panel
// ---------------------------------------------
.floated-media {
    width: 420px;
    max-width: 100%;
    &.pull-left {
        margin: 0px 15px 15px 0px;
    }
    &.pull-right {
        margin: 15px 0px 15px 0px;
    }
    @media only screen and (max-width: @screen-xs) {
        width: 100%;
    }
}

// TB_window: WP image carousel
// ---------------------------------------------
#TB_window {

    .screen-reader-text {
        .sr-only();
    }

    #TB_caption {
        width: 100%;
        height: auto;
        text-align: center;
        color: @text-muted;
        font-family: @font-family-sans-serif;
        font-size: @font-size-small;
    }
    #TB_closeWindow {
        position: absolute;
        padding:0px;
        float: none;
        top: 2px;
        right: 2px;
    }

    #TB_closeWindowButton {
        background-color: #fff;
        border-radius: 20px;
    }
    
}

// Reading room section
// ---------------------------------------------
.section {

    // The section title
    // -------------------------------
    #title {
        
        margin-bottom: 25px;

        .title {

            text-align: center;
            margin-bottom: 25px;

            h1 {
                color: @brand-red;
                font-family: @font-family-bold;
                font-style: normal;
                font-weight: 400;
            }

            h2, h3, h4, h5, h6 {
                color: @text-color;
            }

            p {
                margin-bottom: 15px;
            }

        }
    }

    // The stable of stats
    // -------------------------------
    table.table-stats {

        width: auto;
        background-color: @brand-orange;
        border-radius: @border-radius-base;
        margin: 0px auto;
        padding: 3px;

        td {
            border-top: 0px;
            color: #fff;
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            text-align: center;
            font-family: @font-family-sans-serif;
            font-size: @font-size-small;
            padding: 6px 10px;
            vertical-align: middle;
            &:first-child {
                border-left: 0px;
            }
        }
    }

    // links to downloads etc..
    // ------------------------------
    .translation-links {
        .list-unstyled();
        > li {
            margin-bottom: 5px;
        }
        i {
            width: 26px;
            text-align: left;
        }
    }

    // The summary in the about tab
    // -------------------------------
    #summary {
        h1 {
            text-align: left;
        }
        h4 {
            font-weight: bold;
        }
        p {
            text-align: justify;
            .title {
                font-style: italic;
            }
        }
        
    }

}

// Alternating list
// ---------------------------
.text-list {

    margin: 15px;
    page-break-inside: avoid;

    .table-headers {

        color: @brand-orange;
        background-color: @well-bg;
        border: 1px solid @well-border;
        border-radius: 0px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: @font-family-heading;
        font-size: @font-size-base;
        padding-top: 10px;
        padding-bottom: 10px;

        .checkbox {
            margin: 0px;
            label {
                text-transform: none;
                min-height: 0px;
            }
        }

        select {
            margin-top: -5px;
            margin-bottom: -5px;
            font-weight: normal;
            font-size: 14px;
        }
    }

    .table-footer {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid @table-border-color;
    }

    .list-grouping {

        &.border {
            border: 1px solid rgba(red(@brand-red), green(@brand-red), blue(@brand-red), .4);
            .box-shadow(0 3px 6px rgba(0,0,0,.175));
            padding: 0 @grid-gutter-width (@grid-gutter-width / 2) @grid-gutter-width;
            margin: (@grid-gutter-width / 2) -@grid-gutter-width;
        }

    }

    .list-item {
            
        padding-top: 12px;
        padding-bottom: 12px;
        position: relative;

        hr {
            margin-top:    7px;
            margin-bottom: 7px;
        }

        h4 {
            margin-top: 0px;
            color: @text-color;
            font-weight: bold;
            font-family: @font-family-heading;
        }

        .title-en, a.title {
            font-weight: bold;
        }
    }

    .list-item:nth-child(even) {

        background-color: @well-bg;
        border: 1px solid @well-border;
        border-radius: 0px;

        hr {
            border-color: @well-border;
        }

        .well {
            background-color: #fff;
        }
        
    }

    a:visited {
        color: lighten(@link-color, 15%);
    }

    a.summary-link {

        display: block;
        color: @text-color;
        font-size: @font-size-small;

    }

    .summary-detail {

        .well {
            margin-top: (@line-height-computed / 2);
        }

        h4:first-child {
            margin-top: 0px;
        }

        ul > li {
            margin-bottom: 5px;
        }

    }

}

// About / Team list group
// ------------------------------------
.list-group.accordion {
    .list-group-item {
        padding: 10px 0px;
        border-width: 0px 0px 1px 0px;
        border-color: @list-group-border;
        margin-bottom: 0px;
        &:last-child {
            margin-bottom: -1px;
        }
        .list-group-item-heading {
            color: @brand-danger;
            margin-bottom: 0px;
        }
        a.collapsed .list-group-item-heading {
            color: #555;
        }
        a:focus {
            text-decoration: none;
        }
    }
    .detail {

        padding-top: 7px;
        padding-bottom: 7px;

        h3 {
            margin-bottom: 0px;
        }
        
        small {
            color: #666;
            font-style: italic;
        }
    }
    div.collapse {
        @media print {
            display: block;
            height: auto;
        }
    }
}


// Bios
// --------------------------------------------
.profile {

    margin-bottom: 40px;

    .role {
        font-style: italic;
    }

    .thumbnail.letter {
        
        height:220px;

        img {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }
    }
    
    .portrait-container {
        
        display: block;
        position: relative;
        margin-bottom: 15px;

        > h3 {
            margin-top: 7px;
            margin-bottom: 7px;
            line-height: 1.2;
        }
        > div {
            font-size: @font-size-small;
        }
        > ul {
            margin-bottom: 0px;
            font-size: @font-size-small;
        }
        .thumbnail {
            width:100px;
            height:100px;
            border-radius:50px;
            margin-top: 15px;
        }
    }

    a.portrait-container {
        color: inherit;
        &:hover {
            text-decoration: none;
            > h3 {
                text-decoration: underline;
            }
        }
        &:active, &:focus {
            text-decoration: none;
        }
    }

    &.modal {
        .thumbnail {
            border-radius: 3px;
        }
    }
}

/* Fix to old sponsors table mess in WP */
.page-id-2461 {
    .table {
        > tbody {
            > tr {
                > td {
                    h4:first-child {
                        margin-top: -5px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}

// Small viewport variations
// --------------------------------------------
@media only screen and (max-width: @screen-sm) {

    .section {
        
        #title {
            table.table-stats {
                td {
                    font-size: @font-size-small;
                    padding: 3px 5px;
                }
            }
        }

        // Dont' justify on small screens
        // -------------------------------
        #summary {
            p {
                text-align: left;
            }
        }
        
    }

}

@media print {
    .text-list {

        font-size: initial;
        margin: 0px;

        .table-headers {
            border-color: @gray-light !important;
        }

        .list-item {
            border: none !important;
        }

    }

    .section {
        
        #title {
            table.table-stats {
                border: 1px solid @gray-light !important;
            }
        }
    }

    .list-grouping.border {
        border-color: @gray-light !important;
    }
}