# Allow subdomain acces to fonts
<FilesMatch ".(css|js|eot|ttf|otf|woff)">
	Header set Access-Control-Allow-Origin "*"
</FilesMatch>

<IfModule mod_mime.c>
	AddType text/html .html
	AddType application/javascript .js
	AddType text/css .css
	AddType font/ttf .ttf
	AddType image/png .png
</IfModule>
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/css application/javascript font/ttf image/png
	<IfModule mod_setenvif.c>
		BrowserMatch ^Mozilla/4 gzip-only-text/html
		BrowserMatch ^Mozilla/4.0[678] no-gzip
		BrowserMatch bMSIE !no-gzip !gzip-only-text/html
	</IfModule>
</IfModule>

RewriteEngine on
RewriteRule ^/?.*ch/?$ /test-pages/?lang=zh [NC]
RewriteRule ^/?.*news/?$ /test-pages/?template=news [NC]
RewriteRule ^/?.*ch-news/?$ /test-pages/?template=news&lang=zh [NC]
RewriteRule ^/?.*category/announcements/?$ /test-pages/?template=announcements [NC]
RewriteRule ^/?.*category.* /test-pages/?template=news [NC]
RewriteRule ^/?.*about/partnerships* /test-pages/?template=partnerships&lang=en [NC]
RewriteRule ^/?.*ch-about/ch-partnerships* /test-pages/?template=partnerships&lang=zh [NC]
RewriteRule ^/?.*about.* /test-pages/?template=about [NC]
RewriteRule ^/?.*ch-about* /test-pages/?template=about&lang=zh [NC]
RewriteRule ^/?.*resources/.* /test-pages/?template=resources [NC]
RewriteRule ^/?.*ch-resources* /test-pages/?template=resources&lang=zh [NC]
RewriteRule ^/?.*how-you-can-help/spread-the-word /test-pages/?template=subscribe [NC]
RewriteRule ^/?.*how-you-can-help/subscribed /test-pages/?template=subscribed
RewriteRule ^/?.*ch-how-you-can-help/ch-spread-the-word /test-pages/?template=subscribe-ch [NC]
RewriteRule ^/?.*/how-you-can-help/sponsor-a-page /test-pages/?template=sponsor-page [NC]
RewriteRule ^/?.*/how-you-can-help* /test-pages/?template=sponsor-sutra [NC]
RewriteRule ^/?.*/ch-howhelp* /test-pages/?template=sponsor-sutra&lang=zh [NC]
RewriteRule ^(wp-content/uploads/.*) http://trans84000.staging.wpengine.com/$1 [NC]