# Allow subdomain acces to fonts
<FilesMatch ".(css|js|eot|ttf|otf|woff)">
	Header set Access-Control-Allow-Origin "*"
</FilesMatch>

<IfModule mod_mime.c>
	AddType text/html .html
	AddType application/javascript .js
	AddType text/css .css
	AddType font/ttf .ttf
	AddType image/png .png
</IfModule>
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/css application/javascript font/ttf image/png
	<IfModule mod_setenvif.c>
		BrowserMatch ^Mozilla/4 gzip-only-text/html
		BrowserMatch ^Mozilla/4.0[678] no-gzip
		BrowserMatch bMSIE !no-gzip !gzip-only-text/html
	</IfModule>
</IfModule>

RewriteEngine on
RewriteRule ^/?test-pages/ch$ /test-pages/?lang=zh [NC]
RewriteRule ^/?test-pages/news.* /test-pages/?template=news [NC]
RewriteRule ^/?test-pages/ch-news$ /test-pages/?template=news&lang=zh [NC]
RewriteRule ^/?test-pages/category/announcements.* /test-pages/?template=announcements [NC]
RewriteRule ^/?test-pages/category.* /test-pages/?template=news [NC]
RewriteRule ^/?test-pages/about/partnerships* /test-pages/?template=partnerships&lang=en [NC]
RewriteRule ^/?test-pages/ch-about/ch-partnerships* /test-pages/?template=partnerships&lang=zh [NC]
RewriteRule ^/?test-pages/about.* /test-pages/?template=about [NC]
RewriteRule ^/?test-pages/ch-about* /test-pages/?template=about&lang=zh [NC]
RewriteRule ^/?test-pages/resources.* /test-pages/?template=resources [NC]
RewriteRule ^/?test-pages/ch-resources* /test-pages/?template=resources&lang=zh [NC]
RewriteRule ^/?test-pages/how-you-can-help/spread-the-word.* /test-pages/?template=subscribe [NC]
RewriteRule ^/?test-pages/how-you-can-help.* /test-pages/?template=sponsor-sutra [NC]
RewriteRule ^/?test-pages/ch-howhelp* /test-pages/?template=sponsor-sutra&lang=zh [NC]
